*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Custom Properties, update these for your own design. What you see less than 800px width */
/* Updated @font-face rule with multiple font weights */
@font-face {
  font-family: 'VulfSansDemo-Medium';  
  src: url('../fonts/VulfSansDemo-Medium.woff') format('woff'),
       url('../fonts/VulfSansDemo-Medium.woff2') format('woff2');
  font-weight: 500; /* Match your --fw-med variable */
  font-style: normal;
}

@font-face {
  font-family: 'VulfSansDemo-MediumItalic';  
  src: url('../fonts/VulfSansDemo-MediumItalic.woff') format('woff'),
       url('../fonts/VulfSansDemo-MediumItalic.woff2') format('woff2');
  font-weight: 500; /* Match your --fw-med variable */
  font-style: italic;
}

@font-face {
  font-family: 'BatonNouveauTrial-Regular';
  src: url('../fonts/BatonNouveauTrial-Regular.woff2') format('woff2'),
       url('../fonts/BatonNouveauTrial-Regular.woff') format('woff');
  font-weight: 400; /* Regular weight */
  font-style: normal;
}

@font-face {
  font-family: 'BatonNouveauTrial-Medium';
  src: url('../fonts/BatonNouveauTrial-Medium.woff2') format('woff2'),
       url('../fonts/BatonNouveauTrial-Medium.woff') format('woff');
  font-weight: 500; /* Medium weight */
  font-style: normal;
}

@font-face {
  font-family: 'BatonNouveauTrial-Bold';
  src: url('../fonts/BatonNouveauTrial-Bold.woff2') format('woff2'),
       url('../fonts/BatonNouveauTrial-Bold.woff') format('woff');
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

@font-face {
  font-family: 'BatonNouveauTrial-Heavy';
  src: url('../fonts/BatonNouveauTrial-Heavy.woff2') format('woff2'),
       url('../fonts/BatonNouveauTrial-Heavy.woff') format('woff');
  font-weight: 900; /* Heavy weight, typically 800 */
  font-style: normal;
}


:root {
  /* Font Families */
  --ff-primary: 'VulfSansDemo-Medium', sans-serif;
  --ff-primary-emphasis: 'VulfSansDemo-Medium', sans-serif;
  --ff-secondary: 'BatonNouveauTrial-Medium', 'Graphik', sans-serif;
  --ff-tertiary: 'BatonNouveauTrial-Regular', 'Graphik', sans-serif;
  --ff-caption: 'BatonNouveauTrial-Medium', 'Graphik', sans-serif;
  --ff-dataemphasis: 'VulfSansDemo-MediumItalic', 'Graphik', sans-serif;
}

:root {
  /* Font Weights */
  --fw-light: 300;
  --fw-lightitalic: 300;
  --fw-reg: 400;
  --fw-med: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-black: 900;


  --clr-backgroundlight: #D4D4D4;
  --clr-backgrounddark: #1A1A1A;
  --clr-text-light: #D4D4D4;
  --clr-text-dark: #1A1A1A;
  --clr-text-dark2: #404040;
  --clr-text-link: #FA3457;
  --clr-surface-light: #D4D4D4;
  --clr-surface-dark: #1A1A1A;
  --clr-surface-link: #FA3457;
  --clr-surface-accent: #62F087;


    /* Font Sizes – what you see at small sizes */
    --fs-h1: 3.5rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.8rem;
    --fs-h4: 1.5rem;
    --fs-body: 1.2rem;
    --fs-caption: 1rem;
}









/* media queries for the text. What you see at full width ------------------------------------------------------------------------------------------------------ */
/* Media queries for the text: */

/* Small screens */
@media screen and (max-width: 480px) {
  :root {
    --fs-h1: 2.8rem;
    --fs-h2: 2rem;
    --fs-h3: 1.6rem;
    --fs-body: 1.2rem;
    --fs-caption: 0.8rem;
  }
}


/* Large screens */
@media screen and (min-width: 769px) {
  :root {
    --fs-h1: 5rem;
    --fs-h2: 4.5rem;
    --fs-h3: 2.7rem;
    --fs-body: 2rem;
    --fs-caption: 1rem;
  }
}













/* General styles */

/* Captions */
.caption_regular {
  font-family: var(--ff-tertiary);
  font-weight: var(--fw-reg);
  font-size: var(--fs-caption);
  line-height: 1.4;
}

.body__paragraph {
  color: var(--clr-text-light);
  font-family: var(--ff-tertiary);
  font-weight: var(--fw-reg);
  font-size: var(--fs-body);
  line-height: 1.4;
}


.title_small {
  color: var(--clr-dark);
  font-family: var(--ff-tertiary);
  font-weight: var(--fw-med);
  font-size: var(--fs-h3);
  padding-top: 1rem;
  line-height: 1;
}

.title_emphasis {
  color: var(--clr-dark);
  font-family: var(--ff-primary-emphasis);
  font-weight: var(--fw-med);
  font-size: var(--fs-h3);
  line-height: 1;
}


body {
    background-color: var(--clr-surface-dark);
    color: var(--clr-dark);
    font-family: var(--ff-tertiary);
    font-size: var(--fs-body);
    font-weight: var(--fw-reg);
    line-height: 1.4;
    margin: auto;
}


strong {
    font-weight: var(--fw-med);
    color: var(--clr-dark);
    font-family: var(--ff-secondary);
    line-height: 1.4;
    margin: auto;
  }


.break {
    margin-top: 1em;
    margin-bottom: 1em;
    
  }

  .subheader {
    margin-bottom: 0.4em;

  }

  
  .text-inversedark {
    color: var(--clr-text-dark); 
  }


/* Home Intro block */
.header {
  padding: 2em 2em 8em 2em; /* top right bottom left */
  background-color: var(--clr-backgrounddark);
  margin-bottom: 6em;
  margin: auto;
}

.header-logo {
  pointer-events: none; /* Makes clicks pass through the image */
  z-index: 0; /* Sets a baseline z-index */
  display: block;
  max-width: 1400px; /* Set the maximum width of the image */
  width: 100%; /* Scale image with screen size */
  height: auto; /* Maintain aspect ratio */
  position: absolute; /* Position relative to the intro */
  top: calc(35rem); /* Position below the intro content */
  left: 50%;
  transform: translateX(-50%); /* Center the image */
}



/* Intro container */
.intro {
  background-color: var(--clr-backgrounddark);
  width: 100%; /* Full width of its container */
  max-width: 1400px; /* Maximum width */
  min-width: 320px; /* Minimum width */
  height: 75rem; /* Minimum height to ensure it's tall enough on large screens */
  margin: 2em auto; /* Margins around the container */
  padding: 6rem; /* Padding inside the container */
  border-radius: 32px; /* Rounded corners */
  box-sizing: border-box; /* Include padding in width */
  position: relative;
  display: flex;
  align-items: flex-start; /* Align items to the top */
  justify-content: flex-start; /* Align items to the left */
}

/* Content inside the intro */
.intro-content {
  color: var(--clr-text-light);
  max-width: 560px; /* Maximum width for the content */
  padding-left: 1rem;
  margin: 0; /* Align content to the left */
  text-align: left; /* Ensure text is left-aligned */
  box-sizing: border-box; /* Include padding in width */
}








/* Container for title and body paragraph */
.title-body-container {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: flex-start; /* Align items to the left */
  gap: 1em; /* Space between elements */
}

 /* Intro section for projects - light container */
 .header-project {
    padding-top: 2em;
    padding-bottom: 0em;
    margin-bottom: 0em;
    margin: auto;
}


.arrowlink {
  padding: 0.5em 0em 0em 0em;
  margin-bottom: em;
  margin: auto;
  margin: auto;
  display:inline-block;
}


.page__content {
    position: relative;
    z-index: 0;
    max-width: 58rem;
    min-width: 12rem;
    margin: 0 auto;
    padding: 1.5em 2em 2em 2em;
}


.page__project-content {
  position: relative;
  z-index: 0;
  max-width: 70rem;
  min-width: 12rem;
  margin: 0 auto;
  padding: 1.5em 2em 2em 2em;
}




.largeimage__content {
  position: relative;
  z-index: 1;
  max-width: 100%;
  margin: auto;
  overflow-wrap: normal;
}


.page {
    transition: transform .2s ease-in-out;
    background: var(--clr-backgrounddark);
    padding-top: 3em;
    padding-bottom: 2em;
}






.img {
    display: block;
    max-width: 100%;
    overflow: visible;
    overflow-wrap: normal;
}





/* Typography */
.numbered-list__item strong {
    font-weight: var(--fw-med);
    display: block;
    margin: 1.5em 0 0.1em;
    line-height: 1.6;
}



*, :after, :before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




h1,
h2,
h3 {
    line-height: 0.8;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }





/* nav */
.nav { display: none; }



/* Page title */
.section__introtitle {
  color: var(--clr-dark);
  font-family: var(--ff-primary);
  font-size: var(--fs-h1);
  line-height: 1.4;
  padding: 0.3em 0em 0em 0em; 
}





/* Project intro block */
.intro--project {
  max-width: 68rem;
  min-width: 12rem;
  padding: 3.8em 2.8em 0em 2.8em; 
  margin: auto;
}


/* Project section block */
.section__project {
  max-width: 68rem;
  min-width: 12rem;
  padding: 0em 1em;
  margin: auto;
}


/* Icon styles */


/* Style for 2pixel icon */
.icon-container {
  display: flex;
  margin: 0.5em 0;
  align-items: center;
}

.icon-image {
  width: 0.7em;
  height: auto;
}


.u-nowrap {
  white-space: nowrap;
}

.porti-icon {
  display: inline-flex;
  width: 1em;
  height: 1em;
  border-radius: 2em 1.4em;
  vertical-align: middle;
  margin: -0.1em 0.2em 0 0.1em;
  transform: scale(1.15);
  transition: transform 0.2s ease-in-out;
}

.porti-icon img,
.porti-icon--photo img {
  width: 100%;
  height: auto;
  cursor: zoom-in;
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.porti-icon--photo {
  display: inline-flex;
  width: 1.2em;
  height: 1.2em;
  border-radius: 2em 1.4em;
  vertical-align: middle;
  margin: 0em 0.2em 0em 0em;
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.3, 0.7, 0.4, 1.5);
  white-space: nowrap;
  cursor: zoom-in;
}

.porti-icon--photo:hover img {
  cursor: zoom-in;
}

.porti-icon--photo.enlarged,
.porti-icon img.enlarged {
  transform: scale(2) translate(-5px, -5px);
  transition: transform 0.3s cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
/* icon modal end */




/* Links */
a {
  font-size: 100%;
  font-weight: 600;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0;
  color: var(--clr-dark);
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--clr-text-link);
  text-underline-offset: 0.15em;
  text-decoration-thickness: 0.04em;
  text-decoration-skip-ink: auto;
  
  /* For webkit browsers */
  -webkit-text-decoration-line: underline;
  -webkit-text-decoration-style: dotted;
  -webkit-text-decoration-skip: ink;
}



.undecorated {
  text-decoration: none;
  color: var(--clr-dark);
}

.txt--normal {
  font-weight: var(--ff-body);
}

a:hover {
  color: var(--clr-accent-orange);
  /* transform: skewY(-2deg) translateY(-0.1em); */
  cursor: pointer;
  /* box-shadow: 0.2em 0.2em 0 0.05em var(--clr-dark); */
}

a:active {
  transform: skewY(-2deg) translateY(0);
  box-shadow: none;
  -webkit-text-decoration-line: none!important;
  text-decoration-line: none!important;
}




/* I'm a Senior Product Designer at MetaLab... */
.section__introsubtitle {
    color: var(--clr-dark);
    font-family: var(--ff-tertiary);
    font-size: var(--fs-h3);
    font-weight: 400;
    max-width: 1400px;
    margin: 0.2em 0em 0em 0.0em
}




.section__title {
    color: var(--clr-text-light);
    font-family: var(--ff-primary);
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    line-height: 1.3;
    margin-top: 0.8em;
}

.section__project-title {
  font-family: var(--ff-primary);
  font-size: var(--fs-h2);
  line-height: 1,3;
  margin-top: 0.5em;
  
}


/* Principle Title */
.section__subtitle {
    font-family: var(--ff-primary);
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    line-height: 1.3;
    margin-bottom: 0.1em;
    min-width: 360px;
    
}



.principles {
    margin-bottom: 2.25em;
    margin-top: 2.25em;
    max-width: 1400px;
    min-width: 360px;
}

/* two column content for images and video */
.twocolumn__content {
  max-width: 100%;
  overflow-wrap: normal;
  display: flex;
  position: relative;
  margin-bottom: 2.5em;
  flex-wrap: nowrap;
  align-items: flex-start;
}



.twocolumn--leftcontent { 
  margin: 2em;
  display: flex;
}

.twocolumn--rightcontent { 
  margin: 16em 0em 0em
}

.video {
  max-width: 100% ;
  border-radius: 24px;
  overflow: hidden;
  position: relative;
}

.desktop_video {
width: 100% ;
border-radius: 24px;
overflow: hidden;
position: relative;
}





/* Captioned images */
.captioned-image {
  position: relative;
  margin: 2em 0em 0em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.captioned-image__centered {
  position: relative;
  margin: 2em 0em 0em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-surface-dark);
}

.captioned-image figcaption {
  text-transform: uppercase;
  font-family: var(--ff-caption);
  font-size: 60%;
  color: var(--clr-text-dark2);
  padding: 0.5em 1em;
  transform: skewY(-2deg);
  max-width: 60%;
  margin: -1.5em -1px 0 0;
  background: var(--clr-surface-light);
  letter-spacing: -.025em;
}

.captioned-image__centered figcaption {
  text-transform: uppercase;
  font-family: var(--ff-caption);
  font-size: 60%;
  color: var(--clr-text-dark2);
  padding: 0.5em 1em;
  transform: skewY(-2deg);
  max-width: 60%;
  margin: -1.5em -1px 0 0;
  background: var(--clr-backgroundlight);
  letter-spacing: -.025em;
}


/* Captioned images – old*/

/* .captioned-image__centered {
  position: relative;
  margin: 2em 0em 0em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-surface-dark);
}
 */


/* .captioned-image figcaption {
  text-transform: uppercase;
  font-family: var(--ff-caption);
  font-size: var(--fs-h3);
  color: var(--clr-text-light);
  font-size: 60%;
  padding: 0.5em 1em;
  transform: skewY(-2deg);
  border-top: 2px solid var(--clr-surface-light);
  border-bottom: 2px solid var(--clr-text-light);
  max-width: 60%;
  margin: -1.5em -1px 0 0;
  background: var(--clr-surface-dark);
  letter-spacing: -.025em;
} */


/* .captioned-image__centered figcaption {
  text-transform: uppercase;
  font-family: var(--ff-caption);
  font-size: 60%;
  padding: 0.5em 1em;
  transform: skewY(-2deg);
  max-width: 60%;
  margin: -1.5em -1px 0 0;
  background: #00000060;
  letter-spacing: -.025em;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari support */

/* Old version With lines at top and bottom */
/* .captioned-image__centered figcaption {
  text-transform: uppercase;
  font-family: var(--ff-caption);
  font-size: var(--fs-h3);
  font-size: 60%;
  padding: 0.5em 1em;
  transform: skewY(-2deg);
  border-top: 2px solid var(--clr-surface-light);
  border-bottom: 2px solid var(--clr-surface-light);
  max-width: 60%;
  margin: -1.5em -1px 0 0;
  background: var(--clr-surface-dark);
  letter-spacing: -.025em;
} */


/* Captioned videos */
.captioned-video__centered {
  position: relative;
  margin: 0em 0em 0em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.captioned-video figcaption {
  text-transform: uppercase;
  font-family: var(--ff-caption);
  font-size: 60%;
  padding: 0.5em 1em;
  transform: skewY(-2deg);
  max-width: 60%;
  margin: -1.5em -1px 0 0;
  background: var(--clr-backgroundlight);
  letter-spacing: -.025em;
}

.captioned-video__centered figcaption {
  text-transform: uppercase;
  font-family: var(--ff-caption);
  font-size: 60%;
  color: var(--clr-text-dark2);
  padding: 0.5em 1em;
  transform: skewY(-2deg);
  max-width: 60%;
  margin: -1.5em -1px 0 0;
  background: var(--clr-backgroundlight);
  letter-spacing: -.025em;
}


/* Old captionaed video titles */
/* .captioned-video figcaption {
  text-transform: uppercase;
  font-family: var(--ff-caption);
  font-size: var(--fs-h3);
  font-size: 60%;
  padding: 0.5em 1em;
  transform: skewY(-2deg);
  border-bottom: 2px solid var(--clr-surface-light);
  border-bottom: 2px solid var(--clr-surface-light);
  max-width: 60%;
  margin: -1.5em -1px 0 0;
  background: var(--clr-surface-dark);
  letter-spacing: -.025em;
}


.captioned-video__centered figcaption {
  text-transform: uppercase;
  font-family: var(--ff-caption);
  font-size: var(--fs-h3);
  color: var(--clr-text-light);
  font-size: 60%;
  padding: 0.5em 1em;
  transform: skewY(-2deg);
  border-top: 2px solid var(--clr-surface-light);
  border-bottom: 2px solid var(--clr-surface-light);
  max-width: 60%;
  margin: -1.5em -1px 0 0;
  background: var(--clr-surface-dark);
  letter-spacing: -.025em;
} */
/* end of captioned videos */


/* Button */
.btn, .btn:hover {
    color: var(--clr-accent);
    text-decoration-style: wavy;
    text-decoration-color: var(--clr-ink);
    text-underline-offset: 0.15em;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
}



.btn {
  position: relative;
    right: 24px;
  font-family: var(--ff-primary);
  font-family: var(--font--caps);
  display: inline-flex;
  margin-top: 0.25em;
  padding: 0.5em 0.5em 0.4em;

  background: var(--clr-dark);
  -webkit-text-decoration-line: none!important;
  text-decoration-line: none!important;
  transition: all .1s ease-in-out;
  transform: skewY(-2deg);
  border: 0;
  box-shadow: none;
}


.button2 {
    position: relative;
    top: -56px;
    cursor: pointer;
}


.btn--straight {
  transform: skewY(0);
}



.numbered-list__item:before {
  font-family: var(--ff-dataemphasis);
  position: absolute;
  top: -0.2em;
  left: 0.4em;
  display: block;
  content: counter(numbered);
  font-size: 3.5rem;
  color: var(--clr-text-dark);
}

/* new option */
/* .numbered-list__item:before {
  font-family: var(--ff-dataemphasis);
  position: absolute;
  top: 0.1em;
  left: 0.6em;
  display: block;
  content: counter(numbered);
  font-size: 2.5rem;
} */

.numbered-list__item:after {
  content: " ";
  position: absolute;
  top: -0.25em;
  left: 0;
  width: 2.5em;
  height: 2.5em;
  transform: skew(349deg) rotate(-8deg);
  border-radius: 2em;
  background-color: var(--clr-surface-accent);
  z-index: -1;
}

/* new option */
/* .numbered-list__item:after {
  content: " ";
  position: absolute;
  top: -0.25em;
  left: 0;
  width: 2.5em;
  height: 2.5em;
  /* transform: skew(-20deg) rotate(-8deg); */
  /* border-radius: 2em;
  background-color: #2d2d2d;
  z-index: -1;
} */ 

*, :after, :before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.numbered-list__item {
  position: relative;
  margin-left: 0;
  padding-left: 3em;
  counter-increment: numbered;
}


.numbered-list__text {
    font-family: var(--ff-tertiary);
    line-height: 1.4;
}


.push--bottom {
    margin-bottom: 1.25em!important;
    margin-bottom: var(--base-space)!important;
}
ol li, ul li {
    margin-bottom: 1.35em;
}
li {
    margin: 0 0 1em 1em;
}
*, :after, :before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.numbered-list {
    counter-reset: numbered;
    list-style: none;
}
ol, ul {
    list-style-position: outside;
}

ol, p, ul {
    font-size: 120%;
    font-size: var(--font-small);
    margin: 0 0 0em;
    padding: 0em;
    line-height: 1.4;
    letter-spacing: -.015em;
}
/* End of list item css */



/* Start of nav */
.navheader {
  overflow: visible;
  padding: 0px 16px;
  position: absolute;
  /* background-color: var(--clr-accent); */
  z-index: 1000;
  position: sticky;
  top: 0;
}

.navheader.transparent-bg {
  background-color: transparent;
  transition: background-color 0.3s ease;
}


  .navheader::before {
    content: '';
    display: block;
    height: 3.5em;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: var(--clr-text-dark2);
    transform: skew(0, -1deg);
    transform-origin: top left;
}



/* Password Protection Styles */
#loginOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-background);
  display: flex;
  justify-content: center;
  align-items: center; /* This ensures vertical centering */
  z-index: 1000;
}

#loginForm {
  max-width: 400px;
  width: 100%; /* Ensure it uses full width of the container */
  margin: 2rem;
  padding: 30px;
  text-align: center;
  border: 1px solid var(--clr-surface-light);
  border-radius: 0.8em;
  background-color: var(--clr-surface-dark);
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Change from center to stretch */
}

#loginForm h2 {
  width: 100%; /* Ensure full width */
  margin-bottom: 20px;
  text-align: center; /* Ensure text remains centered */
}

#passwordInput {
  width: 100%;
  padding: 1.5rem;
  margin: 1rem 0 2rem 0;
  border: 1px solid var(--clr-surface-light);
  border-radius: 0.5em;
  background-color: var(--clr-background);
  color: var(--clr-text);
  box-sizing: border-box;
  font-size: 80%;
  font-size: var(--ff-dataemphasis);
  outline: none; /* Remove default focus outline */
  transition: border-color 0.3s ease;
}

#passwordInput:focus {
  border-color: var(--clr-text-link); /* Use your accent color for focus state */
  box-shadow: 0 0 0 2px rgba(var(--clr-accent-rgb), 0.2); /* Optional: adds a subtle glow */
}

#loginForm button {
  width: 100%; /* Make button full width of the form */
  padding: 1rem 2.5rem;
  margin-top: 1rem;
  background-color: var(--clr-surface-link);
  color: var(--clr-text-light);
  font-family: var(--ff-caption);
  border: none;
  border-radius: .2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-sizing: border-box; /* Ensures padding doesn't increase total width */
  text-transform: uppercase; /* This makes all text uppercase */
}


  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.primarybutt, .nav {
    text-align: center;
}


.primarybutt {
    position: absolute;
    top: 3em;
    left: 1px;
    display: inline-flex;
    align-items: center;
}

.primarybutt img {
  width: 95; /* Scale the image to fit the container */
  height: auto; /* Maintain the aspect ratio */
}

.primarybutt button {
  margin-top: -5rem;
  display: flex;
  justify-content: flex-start; /* Align content to the left */
  align-items: center;
  padding: 0.2rem 1rem;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  /* Add the transition property to control the animation behavior */
  transition: all 0.2s ease;
}




  

  /* Style the active/current link*/
  a.active {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    -webkit-text-decoration-style: wavy;
    text-decoration-style: wavy;
    -webkit-text-decoration-color: var(--clr-text-link); /* Underline color */
    text-decoration-color: var(--clr-text-link); /* Ensure the underline color applies */
    color: var(--clr-text-light); /* Text color */
    background-color: var(--clr-backgroundlight); /* Background color */
  }
  
  


/* Book cards on inspo page */
.cards {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
  justify-items: end;
  margin-bottom: 1em;
}


.card__meta {
  color: var(--clr-dark);
  font-family: var(--ff-caption);
  font-size: var(--fs-caption);
  line-height: 1.6;
  /* margin: auto; */
}

.card__title {
  color: var(--clr-dark);
  font-family: var(--ff-caption);
  font-size: var(--fs-caption);
  font-weight: 800;
  line-height: 1.6;
  margin: auto;
}

.card__description {
  color: var(--clr-dark);
  font-family: var(--ff-caption);
  font-size: var(--fs-caption);
  line-height: 1.6;
  font-weight: 300;
  margin: auto;
}

.card__image {
  margin: 0 0 0.25em;
}

.card__image img {
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
  border-radius: 0.5em;
  -webkit-clip-path: inset(1px 1px 1px 1px);
  clip-path: inset(1px 1px 1px 1px);
}

figure {
  margin: 0px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-decoration: none;
  transition: all 0.1s ease;
}

.card:hover {
  transform: scale(1.02) translateY(-0.3em);
}

/* Website cards on inspo page */
.cards--websites {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
  justify-items: end;
  margin-bottom: 1em;
}

.cards--websites .card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-decoration: none;
  transition: all 0.1s ease;
  height: 300px;
}

.cards--websites .card:hover {
  transform: scale(1.02) translateY(-0.3em);
}

.cards--websites .card__image {
  margin: 0 0 0.25em;
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards--websites .card__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  border-radius: 0.5em;
  clip-path: inset(1px 1px 1px 1px);
}

.cards--websites .card__meta {
  color: var(--clr-dark);
  font-family: var(--ff-caption);
  font-size: var(--fs-caption);
  line-height: 1.6;
}

.cards--websites .card__title {
  color: var(--clr-dark);
  font-family: var(--ff-caption);
  font-size: var(--fs-caption);
  font-weight: 800;
  line-height: 1.6;
  margin: auto;
}

.cards--websites .card__description {
  color: var(--clr-dark);
  font-family: var(--ff-caption);
  font-size: var(--fs-caption);
  line-height: 1.6;
  font-weight: 300;
  margin: auto;
}


/* Media queries fo inspiration cards */
.cards {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(auto-fill,minmax(6em,1fr));
  justify-items: end;
  margin-bottom: 1em;
}

.cards--websites {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
  justify-items: center; /* Changed from justify-items: end */
  justify-content: center; /* Added to center the entire grid */
  margin-bottom: 1em;
}

@media (min-width: 40em) {
  .cards--websites {
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-items: center;
    justify-content: center;
  }
}

@media (min-width: 60em) {
  .cards--websites {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}


/* Playlist */
.cards--playlists {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));
  justify-items: center;
  grid-gap: 0.5em;
}

.faves-playlist:first-child {
  /* background-color: #2c2c2c; */
  background-image: radial-gradient(var(--clr-accent-pink) 0.5rem, transparent 0), radial-gradient(#ffffff 0.5rem, #ffffff 0);
  background-size: 26px 26px;
  background-position: 0 0, 13px 13px;
}


.faves-playlist:nth-child(2) {
  /* background-color: #2c2c2c; */
  background-image: linear-gradient(135deg, var(--clr-accent-blue) 25%, transparent 0), linear-gradient(225deg, var(--clr-accent-blue) 25%, transparent 0), linear-gradient(45deg, var(--clr-accent-blue) 25%, transparent 0), linear-gradient(315deg, var(--clr-accent-blue) 25%, #fefefe 0);
  background-position: 13px 0, 13px 0, 0 0, 0 0;
  background-size: 26px 26px;
  background-repeat: repeat;
}

.faves-playlist:nth-child(3) {
  /* background-color: #2c2c2c; */
  background-image: linear-gradient(90deg, var(--clr-accent-orange), var(--clr-accent-orange) 10px, #fefefe 0, #fefefe);
  background-size: 20px 100%;
}








.faves-playlist {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9.625em;
  height: 9.625em;
  background: var(--color-white);
  color: #fff;
  text-decoration: none;
  border-radius: 0.2em;
  /* box-shadow: 0 0.2rem 0.2rem rgba(0,0,0,.2); */
  transition: all .2s;
}

.faves-playlist:before {
    background: var(--clr-accent-pink);
    top: 3em;
    left: 3em;
    right: 3em;
    bottom: 3em;
    z-index: 1;
    /* box-shadow: 0 0 0 0.5em #000; */
}

.faves-playlist:after, .faves-playlist:before {
    content: " ";
    position: absolute;
    border-radius: 100%;
    transition: all .2s;
}



.faves-playlist span {
  font-family: var(--ff-tertiary);
  font-weight: var(--fw-light);
  z-index: 2;
  font-size: 80%;
  font-size: var(--font-xx-small);
  transition: all .2s;
}



.faves-playlist:after, .faves-playlist:before {
  content: " ";
  position: absolute;
  border-radius: 100%;
  transition: all .2s;
}

.faves-playlist:after {
  background: #010101;
  top: 0.25em;
  left: 0.25em;
  right: 0.25em;
  bottom: 0.25em;
  z-index: 0;
}

.faves-playlist:nth-child(1):before {
  background: #76087c;
}

.faves-playlist:nth-child(2):before {
  background: #097bbd;
}

.faves-playlist:nth-child(3):before {
  background: #d84709;
}



/* footer start */
.pagefooter {
  position: relative;
  padding: 1em 1em 4em;
  background-color: var(--clr-surface-light);
  z-index: 1; /* Ensure the footer is above other content */
}


/* Style for the skewed shape */ 
.pagefooter::before {
  content: "";
  position: absolute;
  top: -2em; /* Adjust this value to move the shape higher */
  left: 0;
  right: 0;
  height: 14em;
  background-color: var(--clr-surface-light);
  transform: skewY(358deg);
  transform-origin: top left;
  z-index: 0;
}

  
/* Ensure footer content is above the skewed shape */
.pagefooter-content {
  position: relative;
  z-index: 15; /* Ensure content is above the skewed shape and the footer background */
}


.flex--column {
    flex-direction: column;
}
.flex--center {
    align-items: center;
}
.flex {
    display: flex;


}
.push--top {
    position: relative;
    margin-top: var(--clr-background)!important;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 8px;

    
}
*, :after, :before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Footer Container */
.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 4rem;
}

/* Footer Image */
.footer-symbol {
  width: 400px; /* Initial size for the image */
  height: auto;
  z-index: 10;
}

/* Footer Content */
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Footer Header */
.footer--header {
  font-family: var(--ff-tertiary);
  color: var(--clr-text-dark); /* Text color */
  margin: 0; /* Remove margin if needed */
  padding-bottom: 1em; /* Padding to create space below the header */
  text-align: center; /* Center-align text */
  z-index: 2; /* Ensure the header is above other content */
  position: relative; /* Ensure it is positioned correctly within the footer */
}

/* Start of contact card */
.contact-card {
  display: flex; /* Use flex instead of row for proper alignment */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 0.25em 0.5em;
  padding: 1em 1.25em;
  border: 2px solid var(--clr-surface-dark); /* Fixed border size */
  max-width: 380px; 
  min-width: 380px;
  position: relative;
  text-decoration: none;
  transition: border-color .2s ease; /* Only transition the border color */
}

.contact-card:hover {
  border-color: var(--clr-accent-orange); /* Change border color on hover */
}

/* Additional card styles */
.contact-card__type {
  text-transform: uppercase;
  font-weight: var(--fw-reg);
  font-family: var(--ff-caption);
  font-size: 66%;
  color: var(--clr-text-dark);
}

.contact-card--email, .contact-card--linkedin {
  flex-direction: column;
  display: flex;
  font-family: var(--ff-tertiary);
  font-size: 1.5rem;
  color: var(--clr-text-dark);
  border-radius: 0.4em;
}
/* End of contact card */

/* Media Queries */
/* Medium screens */
@media only screen and (max-width: 1000px) {
  .footer-container {
    flex-direction: column; 
    align-items: center;
    gap: 1rem;
  }

  .footer-symbol {
    width: 200px;
    margin-bottom: 1rem;
  }

  .contact-card {
    max-width: 280px; 
    min-width: 280px;
  }

  .contact-card--email, .contact-card--linkedin {
    font-size: 1.2rem; /* Smaller font size for smaller screens */
  }
}

/* Small screens */
@media only screen and (max-width: 480px) {

    .footer-container {
      flex-direction: column; 
      align-items: center;
      gap: 1.5rem;
    }

  .footer-symbol {
    width: 150px;
  }

  .contact-card {
    max-width: 280px; 
    min-width: 280px;
  }

  .contact-card--email, .contact-card--linkedin {
    font-size: 1rem; /* Even smaller font size for mobile screens */
  }
}
/* end of footer */





.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.2em;
    gap: 1.2em;
    margin: 1em auto;
    padding: 1em 0em 1em 0em;
    ;
}

*, :after, :before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Projects */
@media (min-width: 40em) {
  .project:first-child,
  .project:nth-child(3),
  .project:nth-child(4),
  .project:nth-child(6),
  .project:nth-child(7),
  .project:nth-child(9),
  .project:nth-child(10) {
    margin-top: -1em;
  }
}


.project {
  text-decoration: none;
  width: 95%;
  height: 11em;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: 0 0 0 1px #2b2b2b, 0.25em 0.3em 0 0.25em #161616;
  border-radius: 0.5em;
  transition: all .2s ease;
  background-color: #1f1f1f; /* Added background fill */
  color: var(--clr-text); /* Ensure text is visible */
}



.project figure {
  margin: 0;
}
figure, figure img {
  max-width: 100%;
}

.project__thumbnail {
  width: 7em;
  height: 7em;
  border-radius: 0.6em;
}
figure, figure img {
  max-width: 100%;
}
*, :after, :before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.project__title {
  text-transform: uppercase;
  font-family: var(--ff-caption);
  font-size: 60%;
  font-weight: 500; /* Keep this for bold text */
  margin-top: 0.5em!important;
  color: var(--clr-dark);
}


.flush--bottom {
  margin-bottom: 0!important;
}

.push_quarter--top {
  margin-top: 0.3125em!important;
  margin-top: 3em;
}

h2 {
  font-weight: 800;
  margin: 1em 0 0.25em;
  line-height: 1;
  font-size: 180%;
  font-size: var(--font-large);
}



*, :after, :before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a:hover {
  color: var(--clr-accent-orange);
  -webkit-text-decoration-color: #ff1361;
  text-decoration-color: #ff1361;
  -webkit-text-decoration-color: var(--color-pink);
  text-decoration-color: var(--color-pink);
}

.project:hover {
  color: var(--clr-accent);
  transform: rotate(-1deg) translateY(-0.3em);
  box-shadow: 0 0 0 3px #edece8, 0.4em 0.4em 0 0.25em #edece8;
}



/* Start of shoutouts and credits -----------------------------------------  */

.credits-projectsection {
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
}

.credits-projectsection .dots:after {
  content: ' .............................................................................................................................................................................................................................. ';
}


.credits-projectsection .dots {
  flex: 1;
  overflow: hidden;
}


*, *:before, *:after {
  box-sizing: inherit;
}

.credits-projectsection li {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  display: flex;
  align-items: baseline;
  margin-bottom: 5px;
}

.credits-projectsection ul {
  list-style-type: none;
  padding: 0;
}


li {
  display: list-item;
  text-align: -webkit-match-parent;
}
/* End of shoutouts and credits */



/* Unordered lists */
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: -32px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}





/* Start of Burger menu----------------------------------------- */

.site-nav {
  float: right;
  }
  

.site-nav__item--home {
  display: none;
}


.site-nav__menu {
  max-height: 200px; /* or any other non-zero value */
  transform-origin: right;
  transform: skewY(-2deg);
  transition: all .2s ease-in-out;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
  text-align: center;
  position:absolute;
  top: 4.5em;
  right: 0.5em;
  z-index: 2000; /* ensures no menu items are selected */
}


.site-nav[open] .site-nav__menu {
  animation: slide-in 0.1s ease-in-out forwards;
}

/* Animation for menu */
@keyframes slide-in {
  0% {
    transform: skewY(-2deg) scale(0.5);
  }
  100% {
    transform: skewY(-2deg) scale(1);
  }
}




.site-nav__item {
  display: contents;
  list-style-type: none;
}

summary {
  list-style: none;
  cursor: pointer;
  outline: none;
  appearance: none;
}

summary {
  display: list-item;
}

details > summary:first-of-type {
  display: list-item;
  counter-increment: list-item 0;
  list-style: none;
}

.site-nav__button {
  display: block;
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  top: 1.5em;
  right: 1.5em;
  text-indent: -999em;
  transition: transform .2s ease;

}

.site-nav[open] .site-nav__button-line1 {
  transform: translateY(0.2em) rotate(45deg);

}



.site-nav__button-line1, .site-nav__button-line2 {
  content: " ";
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  border-top: 3.5px solid var(--clr-surface-dark);
  transform-origin: center;
  transition: all .2s ease;
  z-index: 1;
}

.site-nav[open] .site-nav__button-line2 {
  transform: translateY(0.2em) rotate(-45deg);
  top: 1rem;
}


.site-nav__button-bg {
  position: absolute;
  background: var(--clr-accent-orange);
  top: -0.55em;
  left: -0.75em;
  right: 0;
  bottom: 0;
  z-index: 0;
  border-radius: 3em;
  width: 3em;
  height: 3em;
  border: none; /* Add a 1px solid border with a color of your choice */
  background-color: var(--clr-surface-light)
}



.site-nav__button-line2 {
  top: calc(2rem + 1px);
}


.site-nav__button {
  display: block;
  position: relative;
  width: 1.5em;
  height: 1.5em;
  top: 1.5em;
  right: 1.5em;
  text-indent: -999em;
  transition: transform .2s ease;
}



ol, ul {
  list-style-position: outside;
}

.site-nav__item {
  display: contents;
  list-style-type: none;
}



.site-nav__link {
  font-family: var(--ff-primary);
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none;
  padding: 0.5em 1em 0.3em;
  display: block;
  background: var(--clr-surface-light);
  border-bottom: 0.5rem solid var(--clr-surface-dark);
  transition: transform .1s ease;
  color: var(--clr-text-dark);
  text-transform: uppercase; /* This makes all text uppercase */
}

a:hover {
  color: var(--clr-text-link);
  text-decoration-color: var(--color-pink);
}

.site-nav__link:hover {
  transform: scale(1.02);
}

.site-nav[open] .site-nav__button {
  transform: scale(1.1);
}


.site-nav__button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

summary::-webkit-details-marker {
  display: none;
}


/* End of nav button */

/* Spacer */
.spacer {
  height: 2em;
  width: 100%;
  background-color: transparent;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.Pill {
  color: var(--clr-text-light);
  font-family: var(--ff-caption);
  font-size: 0.6em;
  font-weight: var(--fw-reg);
  text-transform: uppercase;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Show ellipsis (...) for overflow text */
  padding: 10px 20px;
  border-radius: 6.25rem; /* Applies a circular border */
  border: 1px solid var(--clr-text-dark2); /* 1px solid black border */
  display: inline-block;
  height: 100%; 
  max-width: 100%; /* Allow pills to wrap when container width is exceeded */
}

.PillStack {
  margin-top: 1.5em;
  width: 100%;
  display: flex;
  flex-wrap: wrap; /* Allow pills to wrap when container width is exceeded */
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.3em;
}


/* Header and intro block media queries */

@media screen and (max-width: 768px) {
  .intro {
    height: 70vh; /* Adjust the height to 70% of the viewport height */
    min-height: 32rem; /* Ensure the minimum height */
    padding: 1rem; /* General padding */
    padding-top: 3rem; /* Additional padding at the top */
  }
}



/* Media query for small screens (mobile devices) */
@media (max-width: 480px) {
  .header {
    padding: 2em 1em 4em 1em; /* Further decrease padding */
  }
}




@media (max-width: 65em) {
  .page__content {
    padding: 0em 1.0em 1em 1.1em;
  }
}

@media (max-width: 65em) {
  .intro--project {
    padding: 4em 1.4em 0em 1.4em;
  }
}

@media (max-width: 65em) {
  .header-project {
    padding: 5.5em 0em 0em 0em;
  }
}


@media (max-width: 65em) {
  .page__project-content {
    padding: 1.5em 1em 1.5em 1em;
  }
}

@media screen and (min-width: 65em) {
  .section__introsubtitle {
    padding: 0.1em 0em 0em 0em
  }
}



/* Navheader reduces height*/
@media screen and (max-width: 600px) {
  .navheader::before {
    height: 4.5em;
  }
}

/* Section intro reduces */
@media (max-width: 65em) {
  .section__introtitle {
    line-height: 1.4em;
    padding: 0.1em 0em 0em 0em; 
  }
}


/* Large images on projects */
@media (max-width: 65em) {
  .largeimage__content {
    padding: 0em 0em 0em 0em
  }
}


  /* Navigation - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      text-align: left;
    }

  }


  /* Media queries for Greg icon in the top */
/* Media query for screens around 920px */
@media (max-width: 920px) {
  .primarybutt {
    top: 1.5em; /* Adjust top position */
    left: -15px; /* Adjust horizontal position */
    width: 80%; /* Adjust width if needed */
  }

  .primarybutt button {
    padding: 0.15rem 0.8rem; /* Adjust padding */
    margin-top: -35px; /* Adjust margin-top */
    margin-left: 0.5em; /* Adjust horizontal position */
  }

  .primarybutt img {
    width: 80%; /* Adjust image size */
  }
}

/* Media query for screens around 768px */
@media (max-width: 768px) {
  .primarybutt {
    top: 1.5em; /* Adjust top position */
    left: -5px; /* Adjust horizontal position */
    width: 90%; /* Adjust width if needed */
  }

  .primarybutt button {
    padding: 0.1rem 0.6rem; /* Adjust padding */
    margin-top: -20px; /* Adjust margin-top */
    margin-left: 0.4em; /* Adjust horizontal position */
  }

  .primarybutt img {
    width: 70%; /* Adjust image size */
  }
}

/* Media query for screens around 480px */
@media (max-width: 480px) {
  .primarybutt {
    top: -15px; /* Adjust top position */
    left: -5px; /* Adjust horizontal position */
    width: 95%; /* Adjust width if needed */
  }

  .primarybutt button {
    padding: 0.1rem 0.5rem; /* Adjust padding */
    margin-top: 35px; /* Adjust margin-top */
    margin-left: 0.3em; /* Adjust horizontal position */
  }

  .primarybutt img {
    width: 60%; /* Adjust image size */
  }
}





/* Media queries for header section and innner content */
.header {
  padding: 2em 2em 8em 2em; /* top right bottom left */
  background-color: var(--clr-backgrounddark);
  margin-bottom: 6em; /* Ensure proper margin below the header */
  margin: auto; /* Center the header block horizontally */
}

/* Media queries for header block */
@media (max-width: 1230px) {
  .header {
    padding: 1.5em 1.5em 2em 1.5em; /* top right bottom left */
  }
}

@media (max-width: 920px) {
  .header {
    padding: 1em 1em 5em 1em; /* top right bottom left */
    margin-bottom: 4em; /* Adjust margin below the header */
  }
}

@media (max-width: 768px) {
  .header {
    padding: 1em 1em 4em 1em; /* top right bottom left */
    margin-bottom: 0em; /* Adjust margin below the header */
  }
}

@media (max-width: 480px) {
  .header {
    padding: 0.75em 0.75em 0em 0.75em; /* top right bottom left */
    margin-bottom: 0em; /* Adjust margin below the header */
  }
}



@media (max-width: 920px) {
  .header-logo {
    top: calc(40rem); /* Adjust position for screens around 920px */
  }
}

@media (max-width: 768px) {
  .header-logo {
    top: calc(26.5rem); /* Adjust position for medium screens */
  }
}

@media (max-width: 480px) {
  .header-logo {
    top: calc(26.5rem); /* Adjust position for small screens */
  }
}

/* Media query for intro content */
@media (max-width: 920px) {
  .intro {
    height: 65vh; /* Adjust height for screens around 920px */
    min-height: 50rem; /* Adjust minimum height for screens around 920px */
    padding: 6rem 2rem 2rem 2rem; /* top right bottom left */
  }

  .intro-content {
    margin: 0.75rem; /* Adjust margin for screens around 920px */
  }
}

@media (max-width: 768px) {
  .intro {
    height: 70vh; /* Adjust height for smaller screens */
    min-height: 55rem; /* Adjust minimum height for medium screens */
    padding: 6rem 1rem 1rem 1rem; /* top right bottom left */
  }

  .intro-content {
    max-width: 80%; /* Allow the content to take up the full width on medium screens */
    margin: 1rem; /* Reduce margin around the content for medium screens */
  }
}

@media (max-width: 480px) {
  .intro {
    height: 60vh; /* Adjust height for very small screens */
    min-height: 36rem; /* Adjust minimum height for small screens */
    padding: 5rem 0rem 0rem 0rem; /* top right bottom left */
  }

  .intro-content {
    max-width: 100%; /* Allow the content to take up the full width on small screens */
    margin: 0.5rem; /* Further reduce margin around the content for small screens */
  }
}








/* Large images on projects */
@media (max-width: 65em) {
  .largeimage__content {
    max-width: 100%;
  }
}





/* Medium screens */
@media screen and (max-width: 768px) {
  .video {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    overflow: hidden;
    transform: scale(0.8);
  }
}

/* Small screens */
@media screen and (max-width: 480px) {
  .video {
    max-width: 100%;
    height: auto;
    border-radius: 16px;
    overflow: hidden;
    transform: scale(0.6);
  }
}



/* Medium screens */
@media screen and (max-width: 768px) {
  .desktop_video {
    max-width: 100%;
    height: auto;
    border-radius: 16px;
    overflow: hidden;
  }
}

/* Small screens */
@media screen and (max-width: 480px) {
  .desktop_video {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    overflow: hidden;
  }
}





/* Top margin of captioned video */
/* Media query for screen width of 769px and above */
@media screen and (min-width: 769px) {
  .captioned-video__centered {
    margin-top: 2.5em;
  }
}

/* Media query for screen width of 480px and above */
@media screen and (max-width: 480px) {
  .captioned-video__centered {
    margin-top: -4em;
  }
}

/* fig caption - captioned mobile video*/
/* For screens with a maximum width of 769px */
@media only screen and (max-width: 769px) {
  .captioned-video__centered figcaption {
    margin-top: -5.8em;
  }
}

/* For screens with a maximum width of 480px */
@media only screen and (max-width: 480px) {
  .captioned-video__centered figcaption {
    margin-top: -13.2em;
  }
}


 /* Media queries for dots in lists */
 @media only screen and (max-width: 600px) {
  .credits-projectsection .dots:after {
  content: '';
  }
}



/* fig caption - captioned desktop video*/
/* For screens with a maximum width of 769px */
@media only screen and (max-width: 769px) {
  .desktop_video figcaption {
    margin-top: -5.8em;
  }
}

/* For screens with a maximum width of 480px */
@media only screen and (max-width: 480px) {
  .desktop_video figcaption {
    margin-top: -13.2em;
  }
}


 /* Media queries for dots in lists */
 @media only screen and (max-width: 600px) {
  .desktop_video .dots:after {
  content: '';
  }
}



/* Projects */
/* For screens with a maximum width of 480px */
@media (min-width: 40em) { 
.projects {
    margin-top: 1em;
    grid-template-columns: 1fr 1fr 1fr;
}
}

/* For screens with a maximum width of 480px */
@media only screen and (max-width: 480px) {
  .projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.2em;
    gap: 1.2em;
    margin: 0em 0;
  }
}




@media (min-width: 40em) {
  .project {
      height: 10em;
  }
}



/* Image captions */
@media (min-width: 40em) {
  .captioned-image figcaption {
      max-width: 40%;
  }
}

/* Project titles */
/* Medium screens */
@media (max-width: 768px) {
  .project__title {
    font-size: 70%; /* Slightly smaller font size */
  }
}

/* Small screens */
@media (max-width: 480px) {
  .project__title {
    font-size: 66%; /* Even smaller font size */
  }
}




/* For screens with a maximum width of 769px */
@media only screen and (max-width: 769px) {
  .numbered-list__item:before {
      font-family: var(--ff-dataemphasis);
      top: -0.3em;
      left: 0.27em;
      font-size: 2.5rem;
  }
}

/* For screens with a maximum width of 480px */
@media only screen and (max-width: 480px) {
  .numbered-list__item:before {
    font-family: var(--ff-dataemphasis);
    top: -0.2em;
    left: 0.26em;
    font-size: 2.5rem;
  }
}



/* Spacer media queries */
@media screen and (max-width: 769px) {
  .spacer {
    height: 1.5em;
  }
}

@media screen and (max-width: 480px) {
  .spacer {
    height: 1em;
  }
}

/* cards */
@media (min-width: 40em) {
  .cards {
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(8.5rem, 1fr));
  }
}

@media (min-width: 40em) {
  .cards {
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(8.5rem, 1fr));
  }
}

@media (min-width: 40em) {
.faves-playlist {
    width: 8em;
    height: 8em;
}
}



@media (min-width: 40em){
.faves-playlist:before {
    top: 2.625em;
    left: 2.625em;
    right: 2.625em;
    bottom: 2.625em;
}
}






/* Burger menu background */
/* Media query for mobile screens */
@media (max-width: 480px) {
  .site-nav__button-bg {
    position: absolute;
    top: -0.20em;
  }
}

/* Media query for small screens */
@media (max-width: 768px) {
  .site-nav__button-bg {
    position: absolute;
    top: -0.2em;
  }
}


/* Media query for unordered lists */
/* Media small screens */
@media (max-width: 768px) {
  ul {
    margin-inline-start: -20px;
  }
}




/* media quesries for Title_small */
/* Media query for screens 920px and below */
@media (max-width: 920px) {
  .title_small {
    font-size: var(--fs-h3); /* Adjust font size for screens around 920px */
    padding-top: 0.75rem; /* Adjust top padding */
  }
}

/* Medium screens (768px and below) */
@media (max-width: 768px) {
  .title_small {
    font-size: var(--fs-h3); /* Adjust font size for medium screens */
    padding-top: 0.5rem; /* Adjust top padding */
  }
}

/* Small screens (480px and below) */
@media (max-width: 480px) {
  .title_small {
    font-size: var(--fs-h4); /* Adjust font size for small screens */
    padding-top: 0.5rem; /* Adjust top padding */
  }
}

/* End of media queries for the text */