*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Custom Properties, update these for your own design. What you see less than 800px width */
/* Updated @font-face rule with multiple font weights */
@font-face {
  font-family: 'Graphik';
  src: url('/fonts/graphik-regular-webfont.woff') format('woff'),
       url('/fonts/graphik-regular-webfont.woff2') format('woff2');
  font-weight: 400; /* Regular (400) weight */
  font-style: normal; /* Normal (non-italic) style */
}

@font-face {
  font-family: 'Graphik';
  src: url('/fonts/graphik-medium-webfont.woff') format('woff'),
       url('/fonts/graphik-medium-webfont.woff2') format('woff2');
  font-weight: 500; /* Medium (500) weight */
  font-style: normal; /* Normal (non-italic) style */
}

@font-face {
  font-family: 'Graphik';
  src: url('/fonts/graphik-semibold-webfont.woff') format('woff'),
       url('/fonts/graphik-semibold-webfont.woff2') format('woff2');
  font-weight: 600; /* Semi-Bold (600) weight */
  font-style: normal; /* Normal (non-italic) style */
}

@font-face {
  font-family: 'Graphik';
  src: url('/fonts/graphik-bold-webfont.woff') format('woff'),
       url('/fonts/graphik-bold-webfont.woff2') format('woff2');
  font-weight: 700; /* Bold (700) weight */
  font-style: normal; /* Normal (non-italic) style */
}

@font-face {
  font-family: 'Graphik';
  src: url('/fonts/graphik-black-webfont.woff') format('woff'),
       url('/fonts/graphik-black-webfont.woff2') format('woff2');
  font-weight: 900; /* Black (900) weight */
  font-style: normal; /* Normal (non-italic) style */
}

@font-face {
  font-family: 'Graphik';
  src: url('/fonts/graphik-light-webfont.woff') format('woff'),
       url('/fonts/graphik-light-webfont.woff2') format('woff2');
  font-weight: 300; /* Light (300) weight */
  font-style: normal; /* Normal (non-italic) style */
}

@font-face {
  font-family: 'Graphik';
  src: url('/fonts/graphik-lightitalic-webfont.woff') format('woff'),
       url('/fonts/graphik-lightitalic-webfont.woff2') format('woff2');
  font-weight: 300; /* Light (300) weight */
  font-style: italic; /* Light italic style */
}

@font-face {
  font-family: 'VulfMonoDemo-Regular';
  src: url('/fonts/VulfMonoDemo-Regular.woff') format('woff'),
       url('/fonts/VulfMonoDemo-Regular.woff2') format('woff');
  font-weight: 400; /* Regular weight */
  font-style: normal;
}

@font-face {
  font-family: 'VulfMonoDemo-light';
  src: url('/fonts/VulfMonoDemo-Light.woff2') format('woff2'),
       url('/fonts/VulfMonoDemo-Light.woff') format('woff');
  font-weight: 300; /* Light weight */
  font-style: italic; /* Italic style */
}

@font-face {
  font-family: 'VulfSansDemo-LightItalic';
  src: url('/fonts/VulfSansDemo-LightItalic.woff2') format('woff2'),
       url('/fonts/VulfSansDemo-LightItalic.woff') format('woff');
  font-weight: 300; /* Light weight */
  font-style: italic; /* Italic style */
}

@font-face {
  font-family: 'VulfSansDemo-Light';
  src: url('/fonts/VulfSansDemo-Light.woff') format('woff2'),
       url('/fonts/VulfSansDemo-Light.woff2') format('woff');
  font-weight: 300; /* Light weight */
  font-style: normal;
}

@font-face {
  font-family: 'VulfSansDemo-Bold';
  src: url('/fonts/VulfSansDemo-Bold.woff2') format('woff2'),
       url('/fonts/VulfSansDemo-Bold.woff') format('woff');
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

@font-face {
  font-family: 'VulfSansDemo-BoldItalic';
  src: url('/fonts/VulfSansDemo-BoldItalic.woff2') format('woff2'),
       url('/fonts/VulfSansDemo-BoldItalic.woff') format('woff');
  font-weight: 700; /* Bold weight */
  font-style: italic; /* Italic style */
}



@font-face {
  font-family: 'BatonNouveauTrial-Regular';
  src: url('/fonts/BatonNouveauTrial-Regular.woff2') format('woff2'),
       url('/fonts/BatonNouveauTrial-Regular.woff') format('woff');
  font-weight: 400; /* Regular weight */
  font-style: normal;
}

@font-face {
  font-family: 'BatonNouveauTrial-Medium';
  src: url('/fonts/BatonNouveauTrial-Medium.woff2') format('woff2'),
       url('/fonts/BatonNouveauTrial-Medium.woff') format('woff');
  font-weight: 500; /* Medium weight */
  font-style: normal;
}

@font-face {
  font-family: 'BatonNouveauTrial-Bold';
  src: url('/fonts/BatonNouveauTrial-Bold.woff2') format('woff2'),
       url('/fonts/BatonNouveauTrial-Bold.woff') format('woff');
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

@font-face {
  font-family: 'BatonNouveauTrial-Heavy';
  src: url('/fonts/BatonNouveauTrial-Heavy.woff2') format('woff2'),
       url('/fonts/BatonNouveauTrial-Heavy.woff') format('woff');
  font-weight: 900; /* Heavy weight, typically 800 */
  font-style: normal;
}


:root {
  /* Font Families */
  --ff-primary: 'BatonNouveauTrial-Heavy', 'Graphik', sans-serif;
  --ff-secondary: 'BatonNouveauTrial-Medium', 'Graphik', sans-serif;
  --ff-tertiary: 'BatonNouveauTrial-Regular', 'Graphik', sans-serif;
  --ff-caption: 'BatonNouveauTrial-Regular', 'Graphik', sans-serif;
  --ff-dataemphasis: 'VulfSansDemo-LightItalic', sans-serif;
  --ff-data: 'VulfMonoDemo-Regular', sans-serif;
}

:root {
  /* Font Weights */
  --fw-light: 300;
  --fw-light-italic: 300; /* Corrected variable name, assuming 300 is the correct weight for the italic version */
  --fw-reg: 400;
  --fw-med: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-black: 900;

  /* Font Styles */
  --fs-italic: italic; /* Italic style */

  /* Colors */
  --clr-light: #fff;
  --clr-dark: #2E2E2E;
  --clr-primary: #F8F5EF;
  --clr-accent: #FFEC42;
  --clr-accent-pink: #ec61ae;
  --clr-accent-purple: #c94fe7;
  --clr-accent-blue: #506EEC;
  --clr-accent-orange: #f9a154;
  --clr-background: #F4F2F1;
  --clr-ink: #090408;

  /* Font Sizes – what you see at small sizes */
  --fs-h1: 3.5rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.8rem;
  --fs-body: 1.2rem;
  --fs-caption: 1rem;
}


/* media queries for the text. What you see at full width ------------------------------------------------------------------------------------------------------ */
/* Media queries for the text: */

/* Small screens */
@media screen and (max-width: 480px) {
  :root {
    --fs-h1: 2.8rem;
    --fs-h2: 2rem;
    --fs-h3: 1.6rem;
    --fs-body: 1.2rem;
    --fs-caption: 0.8rem;
  }
}


/* Large screens */
@media screen and (min-width: 769px) {
  :root {
    --fs-h1: 5rem;
    --fs-h2: 4.5rem;
    --fs-h3: 2.7rem;
    --fs-body: 2rem;
    --fs-caption: 1rem;
  }
}
/* End of media queries for the text */






/* General styles */
body {
    background: var(--clr-dark);
    color: var(--clr-dark);
    font-family: var(--ff-tertiary);
    font-size: var(--fs-body);
    font-weight: var(--fw-reg);
    line-height: 1.6;
    margin: auto;
}


strong {
    font-weight: var(--fw-med);
    color: var(--clr-dark);
    font-family: var(--ff-primary);
    line-height: 1.4;
    margin: auto;
  }


.break {
    margin-top: 1em;
    margin-bottom: 1em;
    
  }

  .subheader {
    margin-bottom: 0.4em;

  }

  
  


 /* Intro section for home - entier green container */
 .header {
    padding-top: 4em;
    padding-bottom: 2em;
    background: var(--clr-primary);
    margin-bottom: 0em;
    margin: auto;
}

 /* Intro section for projects - light container */
 .header-project {
  padding-top: 2em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  margin: auto;
}


.arrowlink {
  padding: 0.5em 0em 0em 0em;
  margin-bottom: em;
  margin: auto;
  margin: auto;
  display:inline-block;
}


.page__content {
    position: relative;
    z-index: 0;
    max-width: 58rem;
    min-width: 12rem;
    margin: 0 auto;
    padding: 1.5em 2em 2em 2em;
}


.page__project-content {
  position: relative;
  z-index: 0;
  max-width: 70rem;
  min-width: 12rem;
  margin: 0 auto;
  padding: 1.5em 2em 2em 2em;
}




.largeimage__content {
  position: relative;
  z-index: 1;
  max-width: 100%;
  margin: auto;
  overflow-wrap: normal;
}


.page {
    transition: transform .2s ease-in-out;
    background: var(--clr-light);
    padding-top: 1em;
    padding-bottom: 2em;
}






.img {
    display: block;
    max-width: 100%;
    overflow: visible;
    overflow-wrap: normal;
}





/* Typography */
.numbered-list__item strong {
    font-weight: var(--fw-med);
    display: block;
    margin: 1.5em 0 0.1em;
    line-height: 1.6;
}



*, :after, :before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




h1,
h2,
h3 {
    line-height: 0.8;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }





/* nav */
.nav { display: none; }


/* Type styles */

/* Page title */
.section__introtitle {
  color: var(--clr-dark);
  font-family: var(--ff-primary);
  font-weight: var(--fw-black);
  font-size: var(--fs-h1);
  line-height: 1.4;
  padding: 0.3em 0em 0em 0em; 
}


/* Home - Image and Hi i'm Greg Schwartz... */
.intro {
    max-width: 78rem;
    min-width: 12rem;
    padding: 1em 3em;
    margin: auto;
}


/* Project intro block */
.intro--project {
  max-width: 68rem;
  min-width: 12rem;
  padding: 3.8em 2.8em 0em 2.8em; 
  margin: auto;
}


/* Project section block */
.section__project {
  max-width: 68rem;
  min-width: 12rem;
  padding: 0em 1em;
  margin: auto;
}


/* Icon styles */
.u-nowrap {
  white-space: nowrap;
}

.porti-icon {
  display: inline-flex;
  width: 1em;
  height: 1em;
  border-radius: 2em 1.4em;
  vertical-align: middle;
  margin: -0.1em 0.2em 0 0.1em;
  transform: scale(1.15);
  transition: transform 0.2s ease-in-out;
}

.porti-icon img,
.porti-icon--photo img {
  width: 100%;
  height: auto;
  cursor: zoom-in;
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.porti-icon--photo {
  display: inline-flex;
  width: 1.2em;
  height: 1.2em;
  border-radius: 2em 1.4em;
  vertical-align: middle;
  margin: 0em 0.2em 0em 0em;
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.3, 0.7, 0.4, 1.5);
  white-space: nowrap;
  cursor: zoom-in;
}

.porti-icon--photo:hover img {
  cursor: zoom-in;
}

.porti-icon--photo.enlarged,
.porti-icon img.enlarged {
  transform: scale(2) translate(-5px, -5px);
  transition: transform 0.3s cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

/* icon modal end */





a {
  font-size: 100%;
  font-weight: 600;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0;
  color: inherit;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: var(--clr-dark);
  -webkit-text-decoration-style: wavy;
  text-decoration-style: wavy;
  text-decoration-color: var(--clr-accent-orange);
  text-underline-offset: 0.15em;
  text-decoration-thickness: 0.04em;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}



.undecorated {
  text-decoration: none;
  color: var(--clr-dark);
}

.txt--normal {
  font-weight: var(--ff-body);
}

a:hover {
  color: var(--clr-accent-orange);
  /* transform: skewY(-2deg) translateY(-0.1em); */
  cursor: pointer;
  /* box-shadow: 0.2em 0.2em 0 0.05em var(--clr-dark); */
}

a:active {
  transform: skewY(-2deg) translateY(0);
  box-shadow: none;
  -webkit-text-decoration-line: none!important;
  text-decoration-line: none!important;
}




/* I'm a Senior Product Designer at MetaLab... */
.section__introsubtitle {
    color: var(--clr-dark);
    font-family: var(--ff-tertiary);
    font-size: var(--fs-h3);
    font-weight: 400;
    max-width: 1400px;
    margin: 0.2em 0 0.3em
}




.section__title {
    font-family: var(--ff-primary);
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    line-height: 1.3;
    margin-top: 0.8em;
}

.section__project-title {
  font-family: var(--ff-primary);
  font-size: var(--fs-h2);
  line-height: 1,3;
  margin-top: 0.5em;
  
}


/* Principle Title */
.section__subtitle {
    font-family: var(--ff-primary);
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    line-height: 1.3;
    margin-bottom: 0.1em;
    min-width: 360px;
    
}



.principles {
    margin-bottom: 2.25em;
    margin-top: 2.25em;
    max-width: 1400px;
    min-width: 360px;
}

/* two column content for images and video */
.twocolumn__content {
  max-width: 100%;
  overflow-wrap: normal;
  display: flex;
  position: relative;
  margin-bottom: 2.5em;
  flex-wrap: nowrap;
  align-items: flex-start;
}



.twocolumn--leftcontent { 
  margin: 2em;
  display: flex;
}

.twocolumn--rightcontent { 
  margin: 16em 0em 0em
}

.video {
  max-width: 100% ;
  border-radius: 24px;
  overflow: hidden;
  position: relative;
}

.desktop_video {
width: 100% ;
border-radius: 24px;
overflow: hidden;
position: relative;
}





/* Captioned images */
.captioned-image {
  position: relative;
  margin: 2em 0em 0em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}




/* Captioned images – centered */
.captioned-image__centered {
  position: relative;
  margin: 2em 0em 0em;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.captioned-image figcaption {
  text-transform: uppercase;
  font-family: var(--ff-caption);
  font-size: var(--fs-h3);
  color: var(--clr-dark);
  font-size: 60%;
  /* font-weight: var(--fw-bold); */
  padding: 0.5em 1em;
  transform: skewY(-2deg);
  border-top: 2px solid var(--clr-dark);
  border-bottom: 2px solid var(--clr-dark);
  max-width: 60%;
  margin: -1.5em -1px 0 0;
  background: var(--clr-light);
  letter-spacing: -.025em;
}


.captioned-image__centered figcaption {
  text-transform: uppercase;
  font-family: var(--ff-caption);
  font-size: var(--fs-h3);
  color: var(--clr-dark);
  font-size: 60%;
  /* font-weight: var(--fw-bold); */
  padding: 0.5em 1em;
  transform: skewY(-2deg);
  border-top: 2px solid var(--clr-dark);
  border-bottom: 2px solid var(--clr-dark);
  max-width: 60%;
  margin: -1.5em -1px 0 0;
  background: var(--clr-light);
  letter-spacing: -.025em;
}


/* Captioned videos */
.captioned-video__centered {
  position: relative;
  margin: 0em 0em 0em;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.captioned-video figcaption {
  text-transform: uppercase;
  font-family: var(--ff-caption);
  font-size: var(--fs-h3);
  color: var(--clr-dark);
  font-size: 60%;
  padding: 0.5em 1em;
  transform: skewY(-2deg);
  border-top: 2px solid var(--clr-dark);
  border-bottom: 2px solid var(--clr-dark);
  max-width: 60%;
  margin: -1.5em -1px 0 0;
  background: var(--clr-light);
  letter-spacing: -.025em;
}


.captioned-video__centered figcaption {
  text-transform: uppercase;
  font-family: var(--ff-caption);
  font-size: var(--fs-h3);
  color: var(--clr-dark);
  font-size: 60%;
  padding: 0.5em 1em;
  transform: skewY(-2deg);
  border-top: 2px solid var(--clr-dark);
  border-bottom: 2px solid var(--clr-dark);
  max-width: 60%;
  margin: -1.5em -1px 0 0;
  background: var(--clr-light);
  letter-spacing: -.025em;
}
/* end of captioned videos */


/* Button */
.btn, .btn:hover {
    color: var(--clr-accent);
    text-decoration-style: wavy;
    text-decoration-color: var(--clr-ink);
    text-underline-offset: 0.15em;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
}



.btn {
  position: relative;
    right: 24px;
  font-family: var(--ff-primary);
  font-family: var(--font--caps);
  display: inline-flex;
  margin-top: 0.25em;
  padding: 0.5em 0.5em 0.4em;

  background: var(--clr-dark);
  -webkit-text-decoration-line: none!important;
  text-decoration-line: none!important;
  transition: all .1s ease-in-out;
  transform: skewY(-2deg);
  border: 0;
  box-shadow: none;
}


.button2 {
    position: relative;
    top: -56px;
    cursor: pointer;
}


.btn--straight {
  transform: skewY(0);
}



.numbered-list__item:before {
  position: absolute;
  top: -0.3em;
  left: 0.27em;
  display: block;
  content: counter(numbered);
  font-family: var(--ff-dataemphasis);
  font-weight: var(--fw-italic);
  font-size: 4rem;
}



.numbered-list__item:after {
    content: " ";
    position: absolute;
    top: -0.25em;
    left: 0;
    width: 2.5em;
    height: 2.5em;
    transform: skew(-20deg) rotate(-8deg);
    border-radius: 2em;
    background: #afeeee;
    z-index: -1;
}

*, :after, :before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.numbered-list__item {
  position: relative;
  margin-left: 0;
  padding-left: 3em;
  counter-increment: numbered;
}


.numbered-list__text {
    line-height: 1.6;
}


.push--bottom {
    margin-bottom: 1.25em!important;
    margin-bottom: var(--base-space)!important;
}
ol li, ul li {
    margin-bottom: 1.35em;
}
li {
    margin: 0 0 1em 1em;
}
*, :after, :before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.numbered-list {
    counter-reset: numbered;
    list-style: none;
}
ol, ul {
    list-style-position: outside;
}

ol, p, ul {
    font-size: 120%;
    font-size: var(--font-small);
    margin: 0 0 1em;
    padding: 0em;
    line-height: 1.4;
    letter-spacing: -.015em;
}
/* End of list item css */


/* Unordered lists */
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}


/* Start of nav */
.navheader {
  overflow: visible;
  padding: 0px 16px;
  position: absolute;
  /* background-color: var(--clr-accent); */
  z-index: 1;
  position: sticky;
  top: 0;
}

.navheader.transparent-bg {
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.navheader::before {
  content: '';
  display: block;
  height: 5em;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  /* border-bottom: solid #e4e1d9; */
  background-color: #f8f5ef00;
  transform: skew(0, 0deg);
  transform-origin: top left;
}






  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.primarybutt, .nav {
    text-align: center;
}

.primarybutt button {
  /* Your existing button styles here */
  text-decoration-line: none;
  text-decoration-style: none;
}

.primarybutt {
    position: absolute;
    top: 2em;
    left: 1em;
    display: inline-flex;
    align-items: center;
}

.primarybutt button {
  margin-top: -10px;
  display: flex;
  justify-content: flex-start; /* Align content to the left */
  align-items: center;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  background: #ffec4200;
  font-family: var(--ff-primary);
  font-weight: var(--fw-reg);
  /* font-style: var(--font-style-italic); */
  border: none; /* Remove the border */
  font-size: 20px; /* Change the font size */
  text-transform: uppercase; /* Apply text transform */
  text-decoration: none; /* Remove text underline */
  color: var(--clr-dark); /* Text color */
  cursor: pointer;

  /* Add the transition property to control the animation behavior */
  transition: all 0.2s ease;
}





.primarybutt img {
  /* Adjust the custom icon styles here, if needed */
  /* Do not set width and height to 100% */
  margin-right: 8px; /* Adjust the margin as per your desired spacing */
  vertical-align: middle; /* Align the icon vertically within the button */
}



    




  /* Style the active/current link*/
  a.active {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    -webkit-text-decoration-style: wavy;
    text-decoration-style: wavy;
    -webkit-text-decoration-color: var(--clr-dark);
    text-decoration-color: var(--clr-dark);
    color: var(--clr-accent-orange);
    background-color: var(--clr-accent);
  }
  
  


/* cards on inspo page */

.cards {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
  justify-items: end;
  margin-bottom: 1em;
}


.card__meta {
  color: var(--clr-dark);
  font-family: var(--ff-caption);
  font-size: var(--fs-caption);
  line-height: 1.6;
  /* margin: auto; */
}

.card__title {
  color: var(--clr-dark);
  font-family: var(--ff-caption);
  font-size: var(--fs-caption);
  font-weight: 800;
  line-height: 1.6;
  margin: auto;
}

.card__description {
  color: var(--clr-dark);
  font-family: var(--ff-caption);
  font-size: var(--fs-caption);
  line-height: 1.6;
  font-weight: 300;
  margin: auto;
}

.card__image {
  margin: 0 0 0.25em;
}

.card__image img {
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
  border-radius: 0.5em;
  -webkit-clip-path: inset(1px 1px 1px 1px);
  clip-path: inset(1px 1px 1px 1px);
}

figure {
  margin: 0px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-decoration: none;
  transition: all 0.1s ease;
}

.card:hover {
  transform: scale(1.02) translateY(-0.3em);
}


/* Playlist */
.cards--playlists {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));
  justify-items: center;
  grid-gap: 0.5em;
}


.cards {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(auto-fill,minmax(6em,1fr));
  justify-items: end;
  margin-bottom: 1em;
}


.faves-playlist:first-child {
  background-color: #ffffff;
  background-image: radial-gradient(var(--clr-accent-pink) 0.5rem, transparent 0), radial-gradient(#ffffff 0.5rem, #ffffff 0);
  background-size: 26px 26px;
  background-position: 0 0, 13px 13px;
}


.faves-playlist:nth-child(2) {
  background-color: #fefefe;
  background-image: linear-gradient(135deg, var(--clr-accent-blue) 25%, transparent 0), linear-gradient(225deg, var(--clr-accent-blue) 25%, transparent 0), linear-gradient(45deg, var(--clr-accent-blue) 25%, transparent 0), linear-gradient(315deg, var(--clr-accent-blue) 25%, #fefefe 0);
  background-position: 13px 0, 13px 0, 0 0, 0 0;
  background-size: 26px 26px;
  background-repeat: repeat;
}

.faves-playlist:nth-child(3) {
  background-color: #fefefe;
  background-image: linear-gradient(90deg, var(--clr-accent-orange), var(--clr-accent-orange) 10px, #fefefe 0, #fefefe);
  background-size: 20px 100%;
}


.faves-playlist:nth-child(4) {
  background-color: #fefefe;
  background: radial-gradient(circle, transparent 20%, #fefefe 0, #fefefe 80%, transparent 0, transparent), radial-gradient(circle, transparent 20%, #fefefe 0, #fefefe 80%, transparent 0, transparent) 20px 20px, linear-gradient(var(--clr-accent-purple) 3px, transparent 0) 0 -1.5px, linear-gradient(90deg, var(--clr-accent-purple) 3px, #fefefe 0) -1.5px 0;
  background-size: 40px 40px, 40px 40px, 20px 20px, 20px 20px;
}






.faves-playlist {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9.625em;
  height: 9.625em;
  background: var(--color-white);
  color: #fff;
  text-decoration: none;
  border-radius: 0.2em;
  box-shadow: 0 0.2rem 0.2rem rgba(0,0,0,.2);
  transition: all .2s;
}


.faves-playlist:before {
    background: var(--clr-accent-pink);
    top: 3em;
    left: 3em;
    right: 3em;
    bottom: 3em;
    z-index: 1;
    box-shadow: 0 0 0 0.5em #000;
}

.faves-playlist:after, .faves-playlist:before {
    content: " ";
    position: absolute;
    border-radius: 100%;
    transition: all .2s;
}



.faves-playlist span {
  font-family: var(--ff-data);
  font-weight: var(--fw-bold);
  z-index: 2;
  font-size: 80%;
  font-size: var(--font-xx-small);
  transition: all .2s;
}



.faves-playlist:after, .faves-playlist:before {
  content: " ";
  position: absolute;
  border-radius: 100%;
  transition: all .2s;
}

.faves-playlist:after {
  background: #010101;
  top: 0.25em;
  left: 0.25em;
  right: 0.25em;
  bottom: 0.25em;
  z-index: 0;
}



.faves-playlist {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9.625em;
  height: 9.625em;
  background: var(--color-white);
  color: #fff;
  text-decoration: none;
  border-radius: 0.2em;
  box-shadow: 0 0.2rem 0.2rem rgba(0,0,0,.2);
  transition: all .2s;
}


.faves-playlist:nth-child(1):before {
  background: #76087c;
}

.faves-playlist:nth-child(2):before {
  background: #097bbd;
}

.faves-playlist:nth-child(3):before {
  background: #d84709;
}

.faves-playlist:nth-child(4):before {
  background: #aa117f;
}



/* footer start */
.page--footer:before {
    content: " ";
    display: block;
    position: absolute;
    top: -2em;
    bottom: -4em;
    left: 0;
    right: 0;
    transform: skewY(0deg);
    background: var(--clr-dark);
    

}

.page--footer  {
    position: relative;
    text-align: center;
    margin-top: 3.5em;
    margin-bottom: 1em;
    height: 3em;
    margin: auto;
    
}


.flex--column {
    flex-direction: column;
}
.flex--center {
    align-items: center;
}
.flex {
    display: flex;


}
.push--top {
    position: relative;
    margin-top: var(--clr-background)!important;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 8px;

    
}
*, :after, :before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Start of contact card */
.contact-card {
  display: row;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 0.25em 0.5em;
  padding: 1em 1.25em;
  border: 2px solid #474747;
  max-width: 380px; 
  min-width: 380px;
  position: relative;
  text-decoration: none;
  transition: border-color .2s ease;
}



.contact-card:hover {
  display: row;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 0.25em 0.5em;
  padding: 1em 1.25em;
  border: 2px solid var(--clr-accent-orange);
  max-width: 380px; 
  min-width: 380px;
  position: relative;
  text-decoration: none;
  transition: border-color .2s ease;
}



.contact-card__type {
  text-transform: uppercase;
  font-weight: var(--fw-reg);
  font-family: var(--ff-caption);
  font-size: 66%;
  color: var(--clr-light);
}

.contact-card--email {
  flex-direction: column;
  display: flex;
  font-family: var(--ff-data);
  font-size: 1.5rem;
  font-weight: var(--fw-lightitalic);
  color: var(--clr-light);
  border-radius: 0.4em;
}

.contact-card--linkedin {
  flex-direction: column;
  display: flex;
  font-family: var(--ff-data);
  font-size: 1.5rem;
  font-weight: var(--fw-italic);
  color: var(--clr-light);
  border-radius: 0.4em;
}

/* End of contact card */



.footer--header {
   color: var(--clr-light);
   margin: auto;
   padding-bottom: 2em;
   font-family: var(--ff-body);

}


.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.2em;
    gap: 1.2em;
    margin: 1em auto;
    padding: 1em 0em 1em 0em;
    ;
}

*, :after, :before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Projects */
@media (min-width: 40em) {
  .project:first-child,
  .project:nth-child(3),
  .project:nth-child(4),
  .project:nth-child(6),
  .project:nth-child(7),
  .project:nth-child(9),
  .project:nth-child(10) {
    margin-top: -1em;
  }
}

.project {
  text-decoration: none;
  width: 90%;
  height: 11em;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: 0 0 0 3px #edece8, 0.25em 0.3em 0 0.25em #edece8;
  border-radius: 0.8em;
  transition: all .2s ease;
}

.project figure {
  margin: 0;
}
figure, figure img {
  max-width: 100%;
}

.project__thumbnail {
  width: 7em;
  height: 7em;
  border-radius: 0.6em;
}
figure, figure img {
  max-width: 100%;
}
*, :after, :before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.project__title {
  text-transform: uppercase;
  font-family: var(--ff-caption);
  font-size: 60%;
  font-weight: 500; /* Keep this for bold text */
  margin-top: 0.5em!important;
  color: var(--clr-dark);
}


.flush--bottom {
  margin-bottom: 0!important;
}

.push_quarter--top {
  margin-top: 0.3125em!important;
  margin-top: 3em;
}

h2 {
  font-weight: 800;
  margin: 1em 0 0.25em;
  line-height: 1;
  font-size: 180%;
  font-size: var(--font-large);
}



*, :after, :before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a:hover {
  color: var(--clr-accent-orange);
  -webkit-text-decoration-color: #ff1361;
  text-decoration-color: #ff1361;
  -webkit-text-decoration-color: var(--color-pink);
  text-decoration-color: var(--color-pink);
}

.project:hover {
  color: var(--clr-accent);
  transform: rotate(-1deg) translateY(-0.3em);
  box-shadow: 0 0 0 3px #edece8, 0.4em 0.4em 0 0.25em #edece8;
}



/* Start of shoutouts and credits -----------------------------------------  */

.credits-projectsection {
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
}

.credits-projectsection .dots:after {
  content: ' .............................................................................................................................................................................................................................. ';
}


.credits-projectsection .dots {
  flex: 1;
  overflow: hidden;
}


*, *:before, *:after {
  box-sizing: inherit;
}

.credits-projectsection li {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  display: flex;
  align-items: baseline;
  margin-bottom: 5px;
}

.credits-projectsection ul {
  list-style-type: none;
  padding: 0;
}


li {
  display: list-item;
  text-align: -webkit-match-parent;
}
/* End of shoutouts and credits */



/* Unordered lists */
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: -20px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}





/* Start of Burger menu----------------------------------------- */

.site-nav {
  float: right;
  }
  

.site-nav__item--home {
  display: none;
}


.site-nav__menu {
  max-height: 200px; /* or any other non-zero value */
  transform-origin: right;
  transform: skewY(-2deg);
  transition: all .2s ease-in-out;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
  text-align: center;
  position:absolute;
  top: 4.5em;
  right: 0.5em;
  z-index: 999; /* ensures no menu items are selected */
}


.site-nav[open] .site-nav__menu {
  animation: slide-in 0.1s ease-in-out forwards;
}

/* Animation for menu */
@keyframes slide-in {
  0% {
    transform: skewY(-2deg) scale(0.5);
  }
  100% {
    transform: skewY(-2deg) scale(1);
  }
}




.site-nav__item {
  display: contents;
  list-style-type: none;
}

summary {
  list-style: none;
  cursor: pointer;
  outline: none;
  appearance: none;
}

summary {
  display: list-item;
}

details > summary:first-of-type {
  display: list-item;
  counter-increment: list-item 0;
  list-style: none;
}

.site-nav__button {
  display: block;
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  top: 1.5em;
  right: 1.5em;
  text-indent: -999em;
  transition: transform .2s ease;
}

.site-nav[open] .site-nav__button-line1 {
  transform: translateY(0.2em) rotate(45deg);
}



.site-nav__button-line1, .site-nav__button-line2 {
  content: " ";
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  border-top: 2px solid var(--clr-ink);
  transform-origin: center;
  transition: all .2s ease;
  z-index: 1;
}

.site-nav[open] .site-nav__button-line2 {
  transform: translateY(0.2em) rotate(-45deg);
  top: 1rem;
}


.site-nav__button-bg {
  position: absolute;
  background: var(--clr-accent-orange);
  top: -0.55em;
  left: -0.75em;
  right: 0;
  bottom: 0;
  z-index: 0;
  border-radius: 3em;
  width: 3em;
  height: 3em;
  border: none; /* Add a 1px solid border with a color of your choice */
}



.site-nav__button-line2 {
  top: calc(2rem + 1px);
}


.site-nav__button {
  display: block;
  position: relative;
  width: 1.5em;
  height: 1.5em;
  top: 1.5em;
  right: 1.5em;
  text-indent: -999em;
  transition: transform .2s ease;
}



ol, ul {
  list-style-position: outside;
}

.site-nav__item {
  display: contents;
  list-style-type: none;
}



.site-nav__link {
  font-family: var(--ff-primary);
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none;
  padding: 0.5em 1em 0.3em;
  display: block;
  background: var(--clr-ink);
  border-bottom: 0.5rem solid var(--clr-light);
  transition: transform .1s ease;
  color: var(--clr-light);
}

a:hover {
  color: var(--clr-accent-orange);
  text-decoration-color: var(--color-pink);
}

.site-nav__link:hover {
  transform: scale(1.02);
}

.site-nav[open] .site-nav__button {
  transform: scale(1.1);
}


.site-nav__button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

summary::-webkit-details-marker {
  display: none;
}


/* End of nav button */

/* Spacer */
.spacer {
  height: 2em;
  width: 100%;
  background-color: transparent;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.Pill {
  color: var(--clr-dark);
  font-family: var(--ff-data);
  font-size: 0.7em;
  font-weight: var(--fw-reg);
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Show ellipsis (...) for overflow text */
  padding: 10px 20px;
  border-radius: 6.25rem; /* Applies a circular border */
  border: 1px solid #000; /* 1px solid black border */
  display: inline-block;
  height: 100%; 
  max-width: 100%; /* Allow pills to wrap when container width is exceeded */
}

.PillStack {
  margin-top: 1.5em;
  width: 100%;
  display: flex;
  flex-wrap: wrap; /* Allow pills to wrap when container width is exceeded */
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5em;
}



@media (max-width: 65em) {
  .intro {
    padding: 0.8em 1em;
  }
}


@media (max-width: 65em) {
  .page__content {
    padding: 0em 1.0em 1em 1.1em;
  }
}

@media (max-width: 65em) {
  .intro--project {
    padding: 4em 1.4em 0em 1.4em;
  }
}

@media (max-width: 65em) {
  .header-project {
    padding: 5.5em 0em 0em 0em;
  }
}


@media (max-width: 65em) {
  .page__project-content {
    padding: 1.5em 1em 1.5em 1em;
  }
}

@media screen and (min-width: 65em) {
  .section__introsubtitle {
    padding: 0.1em 0em 0em 0em
  }
}



/* Navheader reduces height*/
@media screen and (max-width: 600px) {
  .navheader::before {
    height: 4.5em;
  }
}

/* Section intro reduces */
@media (max-width: 65em) {
  .section__introtitle {
    line-height: 1.4em;
    padding: 0.1em 0em 0em 0em; 
  }
}


/* Large images on projects */
@media (max-width: 65em) {
  .largeimage__content {
    padding: 0em 0em 0em 0em
  }
}


  /* Navigation - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      text-align: left;
    }

  }






@media only screen and (max-width: 767px) {
  .contact-card {
    flex-direction: column;
    display: flex;
    max-width: 280px; 
    min-width: 280px;
  }
}

@media only screen and (max-width: 480px) {
  .contact-card {
    flex-direction: column;
    display: flex;
    max-width: 280px; 
    min-width: 280px;
  }
}


/* Media query for tablets and smaller devices */
@media (max-width: 768px) {
  .contact-card--email, .contact-card--linkedin {
    font-size: 1.2rem; /* Smaller font size for smaller screens */
  }
}

/* Media query for mobile devices */
@media (max-width: 480px) {
  .contact-card--email, .contact-card--linkedin {
    font-size: 1rem; /* Even smaller font size for mobile screens */
  }
}




  /* Media queries for logo */
 /* Medium screens */
@media screen and (max-width: 768px) {
  .logo {
    font-size: 2rem;
    line-height: 1.9;
    padding: 0.2em 1em 0.5em;
    left: 1.5em;
  }



  .logo__name {
    font-size: 1rem;
  }

  .logo__byline {
    font-size: 0.8rem;
  }
}

/* Small screens */
@media screen and (max-width: 480px) {
  .logo {
    font-size: 1rem;
    line-height: 1.9;
    padding: 0.2em 1em 0.2em 1em;
    left: 1em;
  }

  .logo__name {
    font-size: 0.8rem;
    padding-top: 1em;
  }

  .logo__byline {
    font-size: 0.8rem;
    
  }
}





/* Large images on projects */
@media (max-width: 65em) {
  .largeimage__content {
    max-width: 100%;
  }
}




/* Medium screens */
@media screen and (max-width: 768px) {
  .video {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    overflow: hidden;
    transform: scale(0.8);
  }
}

/* Small screens */
@media screen and (max-width: 480px) {
  .video {
    max-width: 100%;
    height: auto;
    border-radius: 16px;
    overflow: hidden;
    transform: scale(0.6);
  }
}



/* Medium screens */
@media screen and (max-width: 768px) {
  .desktop_video {
    max-width: 100%;
    height: auto;
    border-radius: 16px;
    overflow: hidden;
  }
}

/* Small screens */
@media screen and (max-width: 480px) {
  .desktop_video {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    overflow: hidden;
  }
}





/* Top margin of captioned video */
/* Media query for screen width of 769px and above */
@media screen and (min-width: 769px) {
  .captioned-video__centered {
    margin-top: 2.5em;
  }
}

/* Media query for screen width of 480px and above */
@media screen and (max-width: 480px) {
  .captioned-video__centered {
    margin-top: -4em;
  }
}

/* fig caption - captioned mobile video*/
/* For screens with a maximum width of 769px */
@media only screen and (max-width: 769px) {
  .captioned-video__centered figcaption {
    margin-top: -5.8em;
  }
}

/* For screens with a maximum width of 480px */
@media only screen and (max-width: 480px) {
  .captioned-video__centered figcaption {
    margin-top: -13.2em;
  }
}


 /* Media queries for dots in lists */
 @media only screen and (max-width: 600px) {
  .credits-projectsection .dots:after {
  content: '';
  }
}



/* fig caption - captioned desktop video*/
/* For screens with a maximum width of 769px */
@media only screen and (max-width: 769px) {
  .desktop_video figcaption {
    margin-top: -5.8em;
  }
}

/* For screens with a maximum width of 480px */
@media only screen and (max-width: 480px) {
  .desktop_video figcaption {
    margin-top: -13.2em;
  }
}


 /* Media queries for dots in lists */
 @media only screen and (max-width: 600px) {
  .desktop_video .dots:after {
  content: '';
  }
}



/* Projects */
/* For screens with a maximum width of 480px */
@media (min-width: 40em) { 
.projects {
    margin-top: 1em;
    grid-template-columns: 1fr 1fr 1fr;
}
}

/* For screens with a maximum width of 480px */
@media only screen and (max-width: 480px) {
  .projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.2em;
    gap: 1.2em;
    margin: 0em 0;
  }
}




@media (min-width: 40em) {
  .project {
      height: 10em;
  }
}



/* Image captions */
@media (min-width: 40em) {
  .captioned-image figcaption {
      max-width: 40%;
  }
}

/* Project titles */
/* Medium screens */
@media (max-width: 768px) {
  .project__title {
    font-size: 70%; /* Slightly smaller font size */
  }
}

/* Small screens */
@media (max-width: 480px) {
  .project__title {
    font-size: 66%; /* Even smaller font size */
  }
}




/* For screens with a maximum width of 769px */
@media only screen and (max-width: 769px) {
  .numbered-list__item:before {
      top: -0.3em;
      left: 0.27em;
      font-size: 2.5rem;
  }
}

/* For screens with a maximum width of 480px */
@media only screen and (max-width: 480px) {
  .numbered-list__item:before {
    top: -0.3em;
    left: 0.27em;
    font-size: 2.5rem;
  }
}



/* Spacer media queries */
@media screen and (max-width: 769px) {
  .spacer {
    height: 1.5em;
  }
}

@media screen and (max-width: 480px) {
  .spacer {
    height: 1em;
  }
}

/* cards */
@media (min-width: 40em) {
  .cards {
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(8.5rem, 1fr));
  }
}

@media (min-width: 40em) {
  .cards {
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(8.5rem, 1fr));
  }
}

@media (min-width: 40em) {
.faves-playlist {
    width: 8em;
    height: 8em;
}
}



@media (min-width: 40em){
.faves-playlist:before {
    top: 2.625em;
    left: 2.625em;
    right: 2.625em;
    bottom: 2.625em;
}
}



/* Greg icon media query */
/* Small screens */
@media screen and (max-width: 480px) {
  .primarybutt {
    left: -0.5em; /* Adjust the left position for small screens */
  }
}

/* Large screens */
@media screen and (max-width: 1040px) {
  .primarybutt {
    left: 0.1em; /* Reset the left position for large screens */
  }
}




/* Burger menu background */
/* Media query for mobile screens */
@media (max-width: 480px) {
  .site-nav__button-bg {
    position: absolute;
    top: -0.20em;
  }
}

/* Media query for small screens */
@media (max-width: 768px) {
  .site-nav__button-bg {
    position: absolute;
    top: -0.2em;
  }
}

