*,
*::before,
*::after {
    box-sizing: border-box;
    
}

/* Custom Properties, update these for your own design. What you see less than 800px width */
:root {
    --ff-primary: 'Fugaz One', cursive;
    --ff-secondary: 'Work Sans', sans-serif;
    --ff-tertiary: 'Work Sans', sans-serif;

    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-light: #fff;
    --clr-dark: #2E2E2E;
    --clr-primary: #1B4C39;
    --clr-accent: #ffd53e;
    --clr-background: #F4F2F1;
    --clr-ink: #090408;
    

    
    --fs-h1: 4.8rem;
    --fs-h2: 3.25rem;
    --fs-h3: 1.8rem;
    --fs-body: 1.2rem;
    
}



/* media queries for the text. What you see at full width */
@media (min-width: 800px) {
    :root {
        --fs-h1: 8rem;
        --fs-h2: 5.5rem;
        --fs-h3: 2.5rem;
        --fs-body: 1.4rem;
    }
}




/* General styles */
body {
    background: var(--clr-dark);
    color: var(--clr-dark);
    font-family: var(--ff-secondary);
    font-size: var(--fs-body);
    line-height: 1.6;
    margin: auto;
}


strong {
    font-weight: 700;
    color: var(--clr-dark);
    font-family: var(--ff-secondary);
    font-size: var(--fs-body);
    line-height: 1.6;
    margin: auto;
  }

.body__paragraph--break {
    margin-top: 1em;
    margin-bottom: 1em;
    
  }

  .subheader {
    margin-bottom: 0.4em;

  }

  
  


 /* Intro section for home - entier green container */
 .header {
    padding-top: 4em;
    padding-bottom: 4em;
    background: var(--clr-primary);
    margin-bottom: 0em;
    margin: auto;
}

 /* Intro section for projects - light container */
 .header-projectsection {
    padding: 2em 2em;
    background: var(--clr-light);
    margin-bottom: 0em;
    margin: auto;
}


.page__content {
    position: relative;
    z-index: 0;
    max-width: 58rem;
    min-width: 12rem;
    margin: 0 auto;
    padding: 1.5em 2em 2em 2em;
}

.page__project-content {
  position: relative;
  z-index: 0;
  max-width: 58rem;
  min-width: 12rem;
  margin: 0 auto;
  padding: 0em 2em 2em 2em
}

.page__project--content {
  position: relative;
  z-index: 0;
  max-width: 58rem;
  min-width: 12rem;
  margin: 0 auto;
  padding: 1.5em 2em 2em 2em;
}



.largeimage__content {
  position: relative;
  z-index: 0;
  max-width: 70rem;
  min-width: 12rem;
  margin: 0 auto;
  padding: 0em 2em 0em 2em;
}


.page {
    transition: transform .2s ease-in-out;
    background: var(--clr-light);
    padding-top: 1em;
    padding-bottom: 2em;
}






.img {
    display: block;
    max-width: 100%;
}


/* Typography */
.numbered-list__item strong {
    display: block;
    margin: 1.5em 0 0.1em;
    line-height: 1.6;
    

}


*, :after, :before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




h1,
h2,
h3 {
    line-height: 0.8;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }





/* nav */
.nav { display: none; }


/* Type styles */

/* Home - Image and Hi i'm Greg Schwartz... */
.intro {
    max-width: 68rem;
    min-width: 12rem;
    padding: 1.5em 1.5em;
    margin: auto;
  }

/* Project intro block */
.intro--project {
  max-width: 68rem;
  min-width: 12rem;
  padding: 2.8em 2.8em 0em 2.8em;
  margin: auto;
}


/* Project section block */
.section--project {
  max-width: 68rem;
  min-width: 12rem;
  padding: 0em 1em;
  margin: auto;
}

/* Icon styles */
.u-nowrap {
    white-space: nowrap;
}

.porti-icon {
    display: inline-flex;
    width: 1em;
    height: 1em;
    border-radius: 2em 1.4em;
    vertical-align: middle;
    margin: -0.1em 0.2em 0 0.1em;
    transform: scale(1.15);
    transition: transform .2s ease-in-out;
}

.porti-icon--plain {
    display: inline-flex;
    width: 1em;
    height: 1em;
    border-radius: 0;
    vertical-align: middle;
    margin: -0.1em 0.1em 0.2em 0.2em;
    transform: scale(1.15);
}


.porti-icon--photo {
    display: inline-flex;
    width: 1em;
    height: 1em;
    border-radius: 2em 1.4em;
    vertical-align: middle;
    margin: -0.1em 0.2em 0 0.1em;
    transform: scale(1.15);
    transition: transform .2s ease-in-out

}



a {
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0;
  color: inherit;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: var(--clr-light);
  -webkit-text-decoration-style: wavy;
  text-decoration-style: wavy;
  -webkit-text-decoration-color: #211b97;
  text-decoration-color: #ffb23e;
  -webkit-text-decoration-color: var(--color-theme);
  text-decoration-color: var(--color-theme);
  text-underline-offset: 0.15em;
  text-decoration-thickness: 0.04em;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}


.undecorated {
  text-decoration: none;
  color: var(--clr-dark);
  
}
.txt--normal {
  font-weight: var(--ff-body);
}

a:hover {
  color: var(--clr-accent);
  /* transform: skewY(-2deg) translateY(-0.1em); */
  cursor: pointer;
  /* box-shadow: 0.2em 0.2em 0 0.05em var(--clr-dark); */
}

a:active {
  transform: skewY(-2deg) translateY(0);
  box-shadow: none;
  -webkit-text-decoration-line: none!important;
  text-decoration-line: none!important;
}


.logocopy {
    color:  var(--clr-dark);
    font-family: var(--ff-tertiary);
    font-size: var(--fs-body);
    line-height: 1.3;
    
}


/* Hi, I'm Greg Schwartz</strong> */
.section__introtitle { 
    color:  var(--clr-light);
    font-family: var(--ff-primary);
    font-size: var(--fs-h1);
    line-height: 1.3;
    
}
    
    

/* I'm a Senior Product Designer at MetaLab... */
.section__introsubtitle {
    color:  var(--clr-light);
    font-family: var(--ff-secondary);
    font-size: var(--fs-h3);
    max-width: 1400px;
    min-width: 360px;
    margin-top: 1em;
    padding-right: 2em;
    
   
}



.section__title {
    font-family: var(--ff-primary);
    font-size: var(--fs-h2);
    line-height: 1.3;
    margin-top: 1em;
    
}

.section__project-title {
  font-family: var(--ff-primary);
  font-size: var(--fs-h2);
  line-height: 1,3;
  margin-top: 0.5em;
  
}


/* Principle Title */
.section__subtitletwo {
    font-family: var(--ff-primary);
    font-size: var(--fs-h3);
    line-height: 1.5;
    margin-bottom: 0.1em;
    min-width: 360px;
    
}

.section__introtitledark {
color: var(--clr-dark);
font-family: var(--ff-primary);
font-size: var(--fs-h1);
line-height: 1.8;

}


.principles {
    margin-bottom: 2.25em;
    margin-top: 2.25em;
    max-width: 1400px;
    min-width: 360px;
}


/* Portfolio Images */
.captioned-image {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-bottom: 0em;
    border: 0;
    box-shadow: none;
}



.captioned-image-large {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-bottom: 1.8em;
    border: 0;
    box-shadow: none;
}

.captioned-image figcaption {
    font-family: var(--ff-primary);
    font-size: var(--fs-h3);
    color: var(--clr-dark);
    font-size: 80%;
    font-weight: var(--fw-bold);
    padding: 0.5em 1em;
    transform: skewY(-2deg);
    border-top: 2px solid var(--clr-dark);
    border-bottom: 2px solid var(--clr-dark);
    max-width: 25%;
    margin: -1.5em -1px 0 0;
    background: var(--clr-light);
    letter-spacing: -.025em;
}




/* Button */
.btn, .btn:hover {
    color: var(--clr-accent);
    text-decoration-style: wavy;
    text-decoration-color: var(--clr-ink);
    text-underline-offset: 0.15em;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
}

/* Can delete if all is working */
/* .btn {
    position: relative;
    right: 24px;
    font-family: var(--ff-primary);
    display: inline-flex;
    margin-top: -1.75em;
    padding: 0.5em 0.5em 0.4em;
    background: var(--clr-accent);
    text-decoration-style: wavy;
    text-decoration-color: var(--clr-dark);
    text-underline-offset: 0.15em;
    text-decoration-thickness: 0.04em;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
    transition: all .1s ease-in-out;
    transform: skewY(-2deg);
    border: 0;
    max-width: 25%;
    box-shadow: none;
} */


.btn {
  position: relative;
    right: 24px;
  font-family: var(--ff-primary);
  font-family: var(--font--caps);
  display: inline-flex;
  margin-top: 0.25em;
  padding: 0.5em 0.5em 0.4em;

  background: var(--clr-dark);
  -webkit-text-decoration-line: none!important;
  text-decoration-line: none!important;
  transition: all .1s ease-in-out;
  transform: skewY(-2deg);
  border: 0;
  box-shadow: none;
}


.button2 {
    position: relative;
    top: -56px;
    cursor: pointer;
}


.btn--straight {
  transform: skewY(0);
}


/* Numbered list items */
.numbered-list__item:before {
    position: absolute;
    top: -0.1em;
    left: 0.3em;
    display: block;
    content: counter(numbered);
    font-family: var(--ff-primary);
    font-style: italic;
    font-size: 210%;
    font-size: var(--fs-h3);
}


.numbered-list__item:after {
    content: " ";
    position: absolute;
    top: -0.25em;
    left: 0;
    width: 2.5em;
    height: 2.5em;
    transform: skew(-20deg) rotate(-8deg);
    border-radius: 2em;
    background: #afeeee;
    z-index: -1;
}

*, :after, :before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.numbered-list__item {
    position: relative;
    margin-left: 0;
    padding-left: 3em;
    counter-increment: numbered;
}


.numbered-list__text {
    line-height: 1.6;
}


.push--bottom {
    margin-bottom: 1.25em!important;
    margin-bottom: var(--base-space)!important;
}
ol li, ul li {
    margin-bottom: 0.35em;
}
li {
    margin: 0 0 1em 1em;
}
*, :after, :before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.numbered-list {
    counter-reset: numbered;
    list-style: none;
}
ol, ul {
    list-style-position: outside;
}

ol, p, ul {
    font-size: 120%;
    font-size: var(--font-small);
    margin: 0 0 1em;
    padding: 0;
    line-height: 1.3;
    letter-spacing: -.015em;
}
/* End of list item css */







/* Start of nav */

/* Style the header with a grey background and some padding */
.navheader {
    overflow: visible;
    padding: 20px 10px;
    position: absolute;
    background-color: var(--clr-accent);
    z-index: 1;
    position: sticky; top: 0;
  }

 
  .navheader::before {
    content: '';
    display: block;
    height: 5em;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: var(--clr-accent);
    transform: skew(0, -1deg);
    transform-origin: top left;
}



  /* Style the header links */
  .navheader a {
    float: left;
    color: var(--clr-dark);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 0px;
    font-family: var(--ff-primary);
    transition: all .1s ease-in-out;
    box-shadow: none;
    font-family: var(--ff-primary);

    
  }



/* Drop down */
.dropbtn {
    float: left;
    color: var(--clr-dark);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 0px;
    font-family: var(--ff-primary);
    transition: all .1s ease-in-out;
    box-shadow: none;
    background-color: var(--clr-accent);;
    border: none;
    font-family: var(--ff-primary);
  }

  .dropbtn--selected {
    float: left;
    color: var(--clr-dark);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 0px;
    font-family: var(--ff-primary);
    transition: all .1s ease-in-out;
    box-shadow: none;
    background-color: var(--clr-accent);;
    border: none;
    font-family: var(--ff-primary);
    text-decoration-line: underline;
    text-decoration-style: wavy;
  }



  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--clr-background);
    font-family: var(--ff-secondary);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    align-items: right;
  }
  
 

  .dropdown-content a {
    color: var(--clr-dark);
    padding: 12px 12px 12px 12px ;
    text-decoration: none;
    display: block;
    align-items: center;
    
  }
  
  .dropdown-content a:hover {background-color: var(--clr-light)}
  
  .dropdown:hover .dropdown-content {display: block;
    display: inline-flex;
    flex-flow: column wrap;
    position: absolute;
    top: 48px;

  }
  
  .dropdown:hover .dropbtn {background-color: #F2DF52;}


  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.logo {
    text-align: center;
    display: block;
    margin: auto;
    text-transform: uppercase;
    text-decoration: none;
    color: color: var(--clr-dark);
    position: absolute;
    top: 1.25em;
    left: 1.75em;
    padding: 1em 1em 0.8em;
    border: 2px solid var(--clr-dark);
    line-height: 1.1;
    transition: transform .1s ease-in-out;
}

  .navheader a.logo {
    font-family: BatonTurbo,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  }

  a.logo {
    font-family: BatonTurbo,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-size: 1em;
    color: var(--clr-dark);
  }


  .logo__name {
    font-family: BatonTurbo,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-size: 1em;
    color: var(--clr-dark);

    }
    
    *, :after, :before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

  
  .logo__byline {
    font-family: BatonTurbo,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-size: 1em;
    color: var(--clr-dark);
  }


  /* If the screen size is 600px wide or less, hide the element */
@media only screen and (max-width: 490px) {
    .logo {
      display: none;
    }
  }

  /* Media queries for logo */

  @media only screen and (max-width: 600px) {
    .logo__name{
    font-size: 0.8em;
    }
  }



  
 /* Change the background color on mouse-over */
 .navheader a:hover {
    color: var(--ff-light);
    background-color: #F2DF52;
    cursor: pointer;
    
  }
  
  
  
  /* Style the active/current link*/
    a.active {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    color: var(--clr-accent);
    -webkit-text-decoration-style: wavy;
    text-decoration-style: wavy;
    -webkit-text-decoration-color: var(--clr-dark);
    color: var(--clr-dark);
    background-color: var(--clr-accent);

   
  }
  


/* Float the link section to the right */
.navheader-right {
float: right;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 800px) {
  .header a {
    float: none;
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}




  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }

  }






/* Start of footer css */
@media (min-width: 65em)
.page--footer:before {
    top: -2.75em;
}

.page--footer:before {
    content: " ";
    display: block;
    position: absolute;
    top: -2em;
    bottom: -4em;
    left: 0;
    right: 0;
    transform: skewY(-2deg);
    background: var(--clr-dark);
    

}

.page--footer  {
    position: relative;
    text-align: center;
    margin-top: 3.5em;
    margin-bottom: 1em;
    height: 3em;
    margin: auto;
    
}





.flex--column {
    flex-direction: column;
}
.flex--center {
    align-items: center;
}
.flex {
    display: flex;


}
.push--top {

    margin-top: var(--clr-background)!important;

    
}
*, :after, :before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.contact-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: var(--ff-primary);
    font-family: var(--ff-secondary);
    font-style: italic;
    margin-bottom: 0.8em;
    padding: 1em 1.25em;
    border: 2px solid var(--clr-background);
    width: 17em;
    position: relative;
    text-decoration: none;
    color: var(--clr-accent);
}


.contact-card:hover {
    color: var(--clr-light);
    box-shadow: 0.2em 0.2em 0 0.05em var(--clr-light);
    cursor: pointer;
    transition: border-color .2s ease;
}



.footer--header {
   color: var(--clr-light);
   margin: auto;
   padding-bottom: 2em;
   font-family: var(--ff-body);

}


element.style {
}
@media (min-width: 40em)
.projects {
    margin-top: 4em;
    grid-template-columns: 1fr 1fr 1fr;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.2em;
    gap: 1.2em;
    margin: 2.5em 0;
}

*, :after, :before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Projects */
@media (min-width: 40em)
.project:first-child, .project:nth-child(3), .project:nth-child(4), .project:nth-child(6), .project:nth-child(7), .project:nth-child(9), .project:nth-child(10) {
    margin-top: -1em;
}
@media (min-width: 40em)
.project {
    height: 12em;
}


.project {
  text-decoration: none;
  width: 100%;
  height: 11em;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: 0 0 0 3px #edece8, 0.25em 0.3em 0 0.25em #edece8;
  border-radius: 0.8em;
  transition: all .1s ease;
}

.project figure {
  margin: 0;
}
figure, figure img {
  max-width: 100%;
}

.project__thumbnail {
  width: 7em;
  height: 7em;
  border-radius: 0.6em;
}
figure, figure img {
  max-width: 100%;
}
*, :after, :before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.project__title {
  font-family: var(--ff-body);
  font-size: 80%;
  font-weight: 400;
  margin-top: 0.5em!important;
  color: var(--clr-dark) ;
}

.flush--bottom {
  margin-bottom: 0!important;
}

.push_quarter--top {
  margin-top: 0.3125em!important;
  margin-top: 3em;
}

h2 {
  font-weight: 800;
  margin: 1em 0 0.25em;
  line-height: 1;
  font-size: 180%;
  font-size: var(--font-large);
}

/* h1, h2, h3, h4, h5, h6 {
  margin: 1em 0 0.25em;
  padding: 0;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -.015em;
} */

*, :after, :before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a:hover {
  color: var(--clr-accent);
  -webkit-text-decoration-color: #ff1361;
  text-decoration-color: #ff1361;
  -webkit-text-decoration-color: var(--color-pink);
  text-decoration-color: var(--color-pink);
}

.project:hover {
  color: var(--clr-accent);
  transform: rotate(-1deg) translateY(-0.3em);
  box-shadow: 0 0 0 4px #edece8, 0.4em 0.4em 0 0.25em #edece8;
}